<!--header-->
<div class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">

        <div class="float-right">
          <div class="float-right">
            <button type="button" class="btn" (click)="OnbuttonClick()">Create Company</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- ========== comments ========== -->
<div class="content-wrap">
  <div class="main">
    <div class="section">
      <div class="container-fluid">
        <div class="row">

          <!-- ========== section1 form ========== -->
          <div class="col-sm-12">
            <div class="section1">
              <h3>company creation
                <button type="button" class="btn">
                  <i class="fa fa-info-circle"></i> <i class="fa fa-ellipsis-v"></i>
                </button>
              </h3>


              <div class="fw-container">
                <div class="fw-body">

                  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="example" class="display" style="width:100%">
                    <thead>
                      <tr>
                        <th>Company Name</th>
                        <th>Address</th>
                        <th>Email ID</th>
                        <th>Contact No</th>
                        <th>Logo</th>
                        <th>Action</th>
                      </tr>

                     
                    </thead>

                    <tbody>
                      <ng-container *ngFor="let cl of companyList">
                      <tr *ngIf="cl.is_deleted !== '1'">
                        <td>{{cl.org_Name}}</td>
                        <td>{{cl.address}}</td>
                        <td>{{cl.mail_Id}}</td>
                        <td>{{cl.phone_No}}</td>
                        <td><img width="50" default="../../../assets/showcase/images/placeholder.png" class="img" [src]="cl.logo_Path" /></td>
                        <td>
                                <div class="btn-group" role="group">
                                        <button class="btn btn-light" [routerLink]="['/layout/companycreation']"
                                          [queryParams]="{param: cl.org_id}"><i class="fa fa-eye"></i></button>
                                        <button class="btn btn-light" (click)="removeCompany(cl)"><i
                                            class="fa fa-trash"></i></button>
                                        <button class="btn btn-light" [routerLink]="['/layout/companycreation']"
                                          [queryParams]="{param: cl.org_id}"><i class="far fa-edit"></i></button>
                                      </div>
                        </td>
                      </tr>
                    </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>