<table class="display table-responsive" style="width:100%">

    <thead>
        <tr>
            <th scope="col" (click)="sort('data.Alert_No')" style="width: 155px;">Alert No
                <span class="fa sort-icon ml-2" *ngIf="key =='data.Alert_No'"
                    [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}">
                </span>
            </th>
            <th scope="col" (click)="sort('data.Item')" style="width: 200px;">Item
                <span class="fa sort-icon ml-2" *ngIf="key =='data.Item'"
                    [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}">
                </span>
            </th>
            <th scope="col" (click)="sort('data.ALERT_NAME')" style="width: 140px;">Alert Name
                <span class="fa sort-icon ml-2" *ngIf="key =='data.ALERT_NAME'"
                    [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}">
                </span>
            </th>
            <th scope="col" (click)="sort('data.DATE')" style="width: 158px;">Date & Time
                <span class="fa sort-icon ml-2" *ngIf="key =='data.DATE'"
                    [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}">
                </span>
            </th>
            <!-- <th scope="col" (click)="sort('data.TIME')">Time <span class="fa sort-icon ml-2"
            *ngIf="key =='data.TIME'"
            [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span></th> -->
            <th scope="col" (click)="sort('data.DEPARTMENT')" style="width: 183px;">Department
                <span class="fa sort-icon ml-2" *ngIf="key =='data.DEPARTMENT'"
                    [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}">
                </span>
            </th>
            <th scope="col" (click)="sort('data.Assigned_To')" style="width: 153px;">Assigned To
                <span class="fa sort-icon ml-2" *ngIf="key =='data.Assigned_To'"
                    [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}">
                </span>
            </th>
            <th scope="col" style="width: 169px;">Priority</th>
            <th colspan="5" id="action" style="width: 202px;">Action</th>
            <th scope="col">SOP</th>
        </tr>

        <tr id="colorThis">
            <th colspan="5" id="adjustWidth0"></th>
            <th id="adjustWidth1" colspan="1" data-title="Action" title="">A</th>
            <th id="adjustWidth2" colspan="1" data-title="Diagnose" title="">D</th>
            <th id="adjustWidth3" colspan="1" data-title="Execute" title="">E</th>
            <th id="adjustWidth4" colspan="1" data-title="Close" title="">C</th>
            <th id="adjustWidth5" colspan="1" data-title="Observe" title="">O</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr
            *ngFor="let ad of alertdata.data | alertFilter: searchTerm | orderBy: key : reverse | paginate: { itemsPerPage: entriesValue, currentPage: p }; let i = index; ">
            <td data-title="Alert No">{{ad.Alert_No}}</td>
            <td data-title="Item"> {{ad.Item}} <br>
                <sub (click)="openModal1()">Show More</sub>
            </td>
            <td data-title="Alert Name">{{ad.ALERT_NAME }}<br>
                <sub (click)="openModal2()">Show More</sub></td>
            <td data-title="Date">{{ad.DATE}}</td>
            <!-- <td data-title="Time">{{ad.TIME}}</td> -->
            <td data-title="Department">{{ad.DEPARTMENT}}</td>
            <td data-title="Assigned To">{{ad.Assigned_To}}</td>
            <td data-title="Priority">High</td>
            <td data-title="Aknowledge" style="width: 40px;">
                <input type="checkbox" [checked]="ad.acknowledge === 'true'"
                    (change)="checkChange(ad, 'acknowledge', $event)">
            </td>
            <td data-title="Diagonise" style="width: 40px;">
                <input type="checkbox" [checked]="ad.diagnose === 'true'" (change)="checkChange(ad, 'diagnose', $event)"
                    [disabled]="ad.acknowledge === 'false'">
            </td>
            <td data-title="Action" style="width: 40px;">
                <input type="checkbox" [checked]="ad.action_chek === 'true'"
                    (change)="checkChange(ad, 'action', $event)" [disabled]="ad.acknowledge === 'false'">
            </td>
            <td data-title="Close" style="width: 40px;">
                <input type="checkbox" [checked]="ad.closed === 'true'" (change)="checkChange(ad, 'closed', $event)"
                    [disabled]="ad.acknowledge === 'false'">
            </td>
            <td data-title="Observe" style="width: 40px;">
                <input type="checkbox" [checked]="ad.observe === 'true'" (change)="checkChange(ad, 'observe', $event)"
                    [disabled]="ad.acknowledge === 'false'">
            </td>
            <td data-title="SOP" style="width: 50px;"><i class="fas fa-info-circle"></i></td>
        </tr>
        <tr *ngIf="(alertdata.data | alertFilter: searchTerm).length == 0">
            <td colspan="9">No Data Available</td>
        </tr>

        <!-- <tr>
        <td data-title="Alert No">01</td>
        <td data-title="Item">Meat Stuck <b>51070</b> <br> <sub
                data-toggle="modal" data-target="#exampleModal">Show
                More</sub></td>
        <td data-title="Alert Name">Meat Stuck <br> <sub data-toggle="modal"
                data-target="#exampleModal">Show More</sub></td>
        <td data-title="Date">25-11-2019</td>
        <td data-title="Time">13 : 30</td>
        <td data-title="Department">CAN</td>
        <td data-title="Assigned To">JEFF COTT</td>
        <td data-title="Priority">High</td>
        <td data-title="Aknowledge"><input type="checkbox" checked></td>
        <td data-title="Diagonise"><input type="checkbox"></td>
        <td data-title="Action"><input type="checkbox"></td>
        <td data-title="Close"><input type="checkbox"></td>
        <td data-title="Observe"><input type="checkbox"></td>
        <td data-title="SOP"><i class="fas fa-info-circle"></i></td>
    </tr> -->

    </tbody>
</table>