<div class="container" style="height: 750px">
  <div class="row">
      <div class="col-md-12">
          <div class="error-template">
              <h1 style="font-size: 22px; color: #2f35e3;">
                  Sorry!!! Please Try Again!!</h1>
                  <br>
              <h2 style="font-size:19px;color:gray">
                  This error has been occured for one of the following reasons:</h2>
              <div class="error-details" style=" font-size: 15px;text-align: left;margin-left: 32%">
                1.You have tried opening the URL in new tab/window.<br>
                2.You have used Back/Forward/Refresh/ button of your Browser.<br>
                3.You have double clicked on any options/buttons. <br>
                4.You have kept the browser window idle for a long time.
              </div>
              <div class="error-actions">
                <div class="horizontalrow">
                  <div style="text-align:center;">
                    <button class="btn btn-primary modal-confirm popupbtn">Back to HOME PAGE</button>
      
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>