

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh !important;
  background: #fff !important;
}

.user_card {
  margin-top: 180px;
  margin-bottom: auto;
  background: #fff;
  padding: 42px;
  border: 2px solid #1d1d85;
  border-radius: 10px;
}

.brand_logo_container {
  position: absolute;
  width: 108px;
  height: 144px;
  margin-left: 35%;
  text-align: center;
}

.brand_logo {
  height: 150px;
  width: 119px;
}


.login_btn {
  font-weight: bold;
  
  background: #1d1d85 !important;
  color: white !important;
  
}

.login_btn:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: 0px !important;
}



.input-group-text {
  background: #fff !important;
  color: #000 !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #c0392b !important;
}

.loginheader {
  width: 100%;
  text-align: center;
  top: 4%;
  position: initial;
}

.logintext {
  color: navy;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 4%;
}

.alert-danger {
  top: 68% !important;
  position: absolute !important;
}

.invalid-feedback {
  text-align: center !important;
}



.customlable {
  color: #f5901f !important;
  font-weight: bold;
  font-size: 15px;
}


/*# sourceMappingURL=login.component.css.map */