<div class="bg_image"
  style="background-image: url(assets/components/images/Automated-ALerts-Banner.jpg);background-repeat: no-repeat; background-size: cover;height:100% !important">
  <div class="row">
    <div class="col-lg-8"></div>
    <div class="col-lg-4">
      <div class="container">
        <div class="user_card">

          <div class="loginheader">
            <div class="">
              <!-- <img src="assets/showcase/images/home/crider-logo.png"> -->
            </div>
          </div>
          <div class="">

            <form [formGroup]="loginForm" class="" novalidate>
              <label class="customlable">User Name</label>
              <div class="input-group mb-3">

                <input type="text" formControlName="username" name="" class="form-control input_user" value=""
                  placeholder="username" value="Username"
                  [ngClass]="{ 'is-invalid': submitted && formData.username.errors }" />
                <div *ngIf="submitted && formData.username.errors" class="invalid-feedback" [ngClass]="{ 'is-invalid': submitted && formData.password.errors }">
                  <div *ngIf="formData.username.errors.required">Username is required</div>
                </div>
              </div>
              <label class="customlable">Password</label>
              <div class="input-group mb-2">

                <input type="password" formControlName="password" name="" class="form-control input_pass" value=""
                  placeholder="password" value="Password"
                  [ngClass]="{ 'is-invalid': submitted && formData.password.errors }" />
                <div *ngIf="submitted && formData.password.errors" class="invalid-feedback" [ngClass]="{ 'is-invalid': submitted && formData.password.errors }">
                  <div *ngIf="formData.password.errors.required">Password is required</div>
                </div>
              </div>
              <div *ngIf="invalidUser" class="invalid-feedback is-invalid mb-3">The username or password is invalid</div>
              <div style="text-align: center;">
                <button class="btn login_btn" (click)="onLogin()">Login</button>
              </div>
              <div class="mt-4">

                <div class="d-flex justify-content-center links" style=" margin-bottom: 10%;">
                  <a href="#">Forgot your password?</a>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>


  </div>
  <div class="modal fade" bsModal #DelModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="dialog-dailyproduct-name">
    <div class="modal-dialog  modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header text-center" style="background-color:#f5901f !important;color: #fff; ">
          <h5 class="modal-title text-center" id="exampleModalLongTitle">Login Failed</h5>
          <button type="button" class="close pull-right" aria-label="Close" (click)="DelModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="container form-group ">
            <div class="row">
              <div class="col">
                <span>Invalid EmailId and Password</span>
              </div>

            </div>
          </div>
          <div class="row main">
            <div class="col-lg-4"></div>
            <div class="col-lg-4 text-center" style="    padding: 9px;">

              <button type="button" class="btn pull-center btncandown" (click)="loadDetails()"
                style="background: #f5901f;color:#fff;    border-radius: 9px; ">OK</button>
              &nbsp;
              <button type="button" class="btn pull-center "
                style="background: #f5901f;color:#fff;     border-radius: 9px;"
                (click)="DelModal.hide()">Cancel</button>

            </div>
            <div class="col-lg-4"></div>
          </div>

        </div>
      </div>
    </div>
  </div>