<!--header-->
<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">

                <div class="float-right">
                    <button type="button" class="btn" (click)="OnbuttonClick()">Create Alert</button>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- ========== comments ========== -->
<div class="content-wrap">
    <div class="main">
        <div class="section">
            <div class="container-fluid">
                <div class="row">
                    <!-- ========== section1 form ========== -->
                    <div class="col-sm-12">
                        <div class="section1">
                            <h3>alert
                                <button type="button" class="btn">
                                    <i class="fa fa-info-circle"></i> <i class="fa fa-ellipsis-v"></i>
                                </button>
                            </h3>
                            <div class="fw-container">
                                <div class="fw-body">
                                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="example" class="display" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Alert Number</th>
                                                <th>Alert Name</th>
                                                <th>Created Date</th>
                                                <th>Department</th>
                                                <th>Active Till</th>
                                                <th>Priority</th>
                                                <th>API</th>
                                                <th style="width: 60px">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let ad of alertcreateddata">
                                                <td>{{ad.alert_num}}</td>
                                                <td>{{ad.alert_Name}}</td>
                                                <td id="applyBorder">{{ad.alert_createddate}}</td>
                                                <td>{{ad.dept_Id}}</td>
                                                <td>{{addnl_spdays}}</td>
                                                <td id="applyBorder">{{ad.priority}}</td>
                                                <td id="applyBorder">{{api_callfreq}}</td>
                                                <td>
                                                        <div class="btn-group" role="group">
                                                    <button class="btn btn-light" [routerLink]="['/layout/alertcreation']" [queryParams]="{param: ad.alert_Id}"><i class="fa fa-eye"></i></button>
                                                    <button class="btn btn-light" (click)="removeAlert(ad.alert_Id)"><i class="fa fa-trash"></i></button>
                                                    <button class="btn btn-light"><i class="far fa-edit"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>