
/* ===== header ===== */
.header {
    padding: 20px 0;
}

.header button {
    background-color: #7c70d2;
    color: white;
    border-radius: 5px;
    padding: 9px 35px;
    cursor: pointer;
}

/* ===== section1 form ===== */
.section1 h3 {
    background-color: #7c70d2;
    text-align: center;
    padding: 10px 0;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 12px 0;
}

.section1 button {
    background: none;
    color: white;
    text-align: right;
    float: right;
    margin: -8px 0 0 0;
}

.section1 h3 i {
    margin: 3px 10px;
    font-size: 24px;
}

.section1 table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
    background-color: #ebebeb !important;
}

.section1 table.dataTable.display tbody tr.odd > .sorting_1,
table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: #ebebeb !important;
}

.section1 table.dataTable.display tbody tr:hover > .sorting_1,
table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
    background: none !important;
}

.section1 th {
    text-align: center;
    color: white;
}

.section1 tbody td {
    text-align: center;
    border-right: 1px solid #ccc;
    color: dimgray;
    padding: 8px !important;
    font-size: 12px;
}

.section1 #applyBorder {
    border-right: 1px solid #7c70d2;
}

.section1 thead tr th:last-child {
    text-align: center;
}

.section1 tbody tr td:last-child {
    text-align: center;
}

.section1 #example {
    border: 1px solid #7c70d2;
    border-radius: 5px;
}

.section1 thead {
    background-color: #7c70d2;
}

.section1 sub {
    color: deepskyblue;
}

.section1 .fw-container i {
    color: black;
}

.section1 #example_length label {
    color: dimgray;
}

.section1 #example_filter {
    display: none;
}

.section1 #example_info {
    display: none;
}

.section1 #example_paginate {
    position: absolute;
    bottom: -58px;
}

.section1 #example_paginate a {
    cursor: pointer;
    color: deepskyblue !important;
}

.section1 #example_length {
    position: absolute;
    bottom: -58px;
    right: 0;
}

.section1 .fw-container {
    padding: 30px 60px 80px 40px;
    background-color: white;
    margin: -11px 0 0 0;
}

.section1 table.dataTable thead th {
    padding: 10px 15px 10px 0;
    border-bottom: none;
    font-size: 12px;
}

.section1 {
    box-shadow: 5px 5px 10px 5px #ccc;
    border: 4px solid #ccc;
    border-radius: 5px;
}

.section1 #colorThis1 {
    background-color: #707070 !important;
}

/* ===== media query ===== */
/*mobile 1 (sm)*/
@media(min-width: 360px) and (max-width: 640px) {
    .section1 .fw-container {
        padding: 10px 10px 110px 10px;
        width: 100%;
        overflow: scroll;
    }

    .section1 #example_paginate {
        position: absolute;
        bottom: -95px;
    }

    .section1 h3 {
        font-size: 16px;
    }

    .section1 h3 i {
        margin: -1px 10px;
        font-size: 20px;
    }

    .header button {
        margin: 0 0 0 -71px;
    }
}

/*mobile 2 (sm)*/
@media(min-width: 412px) and (max-width: 732px) {}

/*tab 1 (sm)*/
@media(min-width: 768px) and (max-width: 978px) {

    .section1 .fw-container {
        padding: 20px 20px 95px 20px;
        width: 100%;
        overflow: scroll;
    }
}

/*tab 2 (sm)*/
@media(min-width: 980px) and (max-width: 1199px) {
    .section1 .fw-container {
        padding: 20px 20px 95px 20px;
        width: 100%;
        overflow: scroll;
    }
}
