<!--header-->
<div class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">

        <div class="float-right">
          <div class="float-right">
            <button type="button" class="btn" (click)="OnbuttonClick()">Create API Mapping</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- ========== comments ========== -->
<div class="content-wrap">
  <div class="main">
    <div class="section">
      <div class="container-fluid">
        <div class="row">

          <!-- ========== section1 form ========== -->
          <div class="col-sm-12">
            <div class="section1">
              <h3>API Mapping
                <button type="button" class="btn">
                  <i class="fas fa-info-circle"></i> <i class="fas fa-ellipsis-v"></i>
                </button>
              </h3>


              <div class="fw-container">
                <div class="fw-body table-responsive">

                  <table datatable  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="example" class="display" style="width:100%">
                    <thead>
                      <tr>
                        <th>API NAME</th>
                        <th>URL Of API</th>
                        <th>Input Parameters</th>
                        <th>Output Parameters</th>
                        <th>Return Type</th>
                        <th>Action</th>
                      </tr>
                    
                    </thead>

                    <tbody>
                        <ng-container *ngFor="let ap of allApis">
                      <tr *ngIf="ap.is_deleted !== '1'">
                        <td>{{ap.api_name}}</td>
                        <td>{{ap.url}}</td>
                        <td>{{ap.in_param}}</td>
                        <td>{{ap.out_param}}</td>
                        <td>{{ap.return_type}}</td>
                        <td>
                          <div class="btn-group" role="group">
                            <button class="btn btn-light" [routerLink]="['/layout/apimappingcreation']"
                              [queryParams]="{param: ap.api_Id}"><i class="fa fa-eye"></i></button>
                            <button class="btn btn-light" (click)="removeApi(ap)"><i
                                class="fa fa-trash"></i></button>
                            <button class="btn btn-light" [routerLink]="['/layout/apimappingcreation']"
                              [queryParams]="{param: ap.api_Id}"><i class="far fa-edit"></i></button>
                          </div>
                        </td>
                      </tr>
                    </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
