
/* ===== section1 form ===== */
.section1 h3 {
    background-color: #7c70d2;
    text-align: center;
    padding: 10px 0;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 12px 0;
}

.section1 select {
    border: 1px solid dimgray;
    border-radius: 5px;
    width: 90%;
    background: #ebebeb;
    cursor: pointer;
    -webkit-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, dimgray 50%), linear-gradient(135deg, dimgray 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
    font-size: 16px;
    color: dimgray;
    height: 40px;
    padding: 0 0 0 10px;
}

.section1 label {
    font-size: 18px;
	font-weight: 600;
	margin: 20px 0 10px 5px;
	color: dimgray;
}
.section1 input[type="text"] {
    border: 1px solid dimgray;
    padding: 0 20px;
    border-radius: 5px;
    background: #ebebeb;
    width: 90%;
    height: 40px;
    font-size: 16px;
    color: dimgray;
}

.section1 form {
    padding: 20px;
    box-shadow: 5px 5px 10px 5px #ccc;
    margin: -10px 0 0 0;
    border: 4px solid #ccc;
    border-radius: 5px;
    border-top: none;
}

.section1 #radioButton label {
    font-size: 16px;
    margin: 0 6px;
}

.section1 #radioButton input {
    position: relative;
    top: 2px;
}

.section1 #checkBox01 label {
    font-size: 16px;
    margin: 0 6px;
}

.section1 #checkBox02 input {
    margin: -8px 0 0 -24px;
}

.section1 h5 {
    color: #7c70d2;
    font-weight: 600;
    margin: 0 0 12px 12px;
}

.section1 .breaker01 {
    border-bottom: 2px solid #cbcbcb;
    width: 104%;
    margin: 25px 0 25px -20px;
}

.section1 #makeCursor input[type="checkbox"],
input[type="radio"] {
    cursor: pointer;
}

.section1 #section001 label {
    margin: 7px 0 0 20px;
}

.section1 #section001 input {
    margin: 0 0 10px 0;
}

.section1 #section01 label {
    margin: 0 0 0 50px;
}

.section1 {
    background-color: white;
}

.section1 button {
    color: white;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 5px;
    margin: 0 10px;
    background-color: #7c70d2;
    font-weight: 600;
}

.section1 button a {
    color: white;
}

.section1 button a:hover {
    color: white;
}

.section1 #takeUp input[type="checkbox"] {
    margin: 5px 0 0 0;
}

.section1 #takeUp select {
    margin: -8px 0 0 0;
}
.section1 #takeUp{
   height: 55px;
}
#radioButton {
	margin: 21px 0 0 0;
}
#checkBox01 {
	margin: 23px 0 0 0;
}
input#supress01 {
    width: 100%;
}
select#supress02 {
    position: relative;
    left: -21px;
}

 input[type="file"] {
    display: none;
}

.custom-file {
    position: relative;
}

 .custom-file-upload {
    cursor: pointer;
	border: 1px solid dimgray !important;
	padding: 7px 20px;
	border-radius: 5px;
    background: #ebebeb !important;
	width: 84%;
	height: 40px;
	font-size: 16px !important;
    color: dimgray !important;
    font-weight: 400 !important;
    position: absolute;
    top: 36px;
    left: 9px;	
}

.custom-file-label {
    background-color: #ebebeb;
    border: 1px solid dimgray;
    width: 96%;
}

#checkBox01 textarea {
    height: 40px;
    width: 269px;
    border: 1px solid dimgray;
    border-radius: 5px;
    background: #ebebeb;
}
/* ===== media query ===== */
/*mobile 1 (sm)*/
@media(min-width: 360px) and (max-width: 640px) {

    .section1 input[type="text"] {
        height: 35px;
        width: 100%
    }

    .section1 select {
        height: 35px;
        width: 100%
    }

    .section1 button {
        margin: 0;
    }

    .section1 h3 {
        font-size: 16px;
    }

    .section1 label {
        font-size: 16px;
    }

    .section1 #section01 label {
        margin: 0;
    }

    .section1 #checkBox02 input {
        margin: 0;
    }

    .section1 .breaker01 {
        width: 120%;
    }

    .section1 #checkBox01 label {
        width: 50%;
    }

    .section1 #radioButton label {
        width: 50%;
    }
}

/*mobile 2 (sm)*/
@media(min-width: 412px) and (max-width: 732px) {}

/*tab 1 (sm)*/
@media(min-width: 768px) and (max-width: 978px) {


    .section1 form {
        padding: 20px 20px 118px 20px;
    }

    .section1 #section01 label {
        margin: 0 0 0 5px;
    }

    .section1 label {
        font-size: 16px;
    }

    .section1 #section0001 label {
        height: 50px;
    }

    .section1 .breaker01 {
        width: 107%;
    }
}

/*tab 2 (sm)*/
@media(min-width: 980px) and (max-width: 1199px) {


    .section1 form {
        padding: 20px 20px 118px 20px;
    }

    .section1 #section01 label {
        margin: 0 0 0 25px;
    }

    .section1 label {
        font-size: 16px;
    }

    .section1 .breaker01 {
        width: 105%;
    }
}
