<!-- ========== comments ========== -->
<div class="content-wrap">
  <div class="main">
    <div class="section">
      <div class="container-fluid">
        <div class="row">

          <!-- ========== section1 form ========== -->
          <div class="col-sm-12">
            <div class="section1">
              <h3>new alert</h3>

              <form [formGroup]="alertcreationdata" class="" novalidate>
                <div class="row">
                  <div class="col-sm-4">
                    <label>Alert Number</label>
                    <input type="text" formControlName="alert_num" name="" class="form-control input_user"
                      placeholder="Alert Number">
                    <div *ngIf="submitted && f.alert_num.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.alert_num.errors }">
                      <div *ngIf="f.alert_num.errors.required">This field is required</div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <label>Alert Name</label>
                    <input type="text" formControlName="alert_Name" name="" class="form-control input_user"
                      placeholder="Alert Name">
                    <div *ngIf="submitted && f.alert_Name.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.alert_Name.errors }">
                      <div *ngIf="f.alert_Name.errors.required">This field is required</div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                      <label>Upload sop</label> <br>
              <div class="custom-file">
                      <label for="doc" class="custom-file-label m-0">{{selectedFilename}}</label>
                      <input type="file" accept="image/*" (change)="changeListener($event)" id="doc"
                        class="custom-file-input form-control" formControlName="doc"
                        [ngClass]="{ 'is-invalid': submitted && f.doc.errors }" placeholder="Company Logo"
                        accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain, application/pdf">
          
                      <div *ngIf="submitted && f.doc.invalid" class="invalid-feedback" [ngClass]="{ 'is-invalid': submitted && f.doc.errors }">
                        <div *ngIf="f.doc.errors.required">This field is required</div>
                      </div>
                    </div>
                    <!-- <label>Upload sop</label> <br>
                    <label class="custom-file-upload">
                      <input type="file" name="link" class="form-control" placeholder="">
                    </label> -->

                  </div>
                </div>

                <div class="row" id="section0001">
                  <div class="col-sm-4">
                    <label>Department</label>
                    <select formControlName="dept_id" name="" class="form-control input_user">
                      <option value="" disabled>Select Department</option>
                      <option *ngFor="let ad of departmentdatasorted" value={{ad.dept_id}}> {{ad.dept_name}}</option>

                    </select>
                    <div *ngIf="submitted && f.dept_id.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.dept_id.errors }">
                      <div *ngIf="f.dept_id.errors.required">This field is required</div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <label>Additional Supression Days</label>
                    <div class="row">
                      <div class="col-sm-6">
                        <input type="text" id="supress01" formControlName="addnl_spdays" name=""
                          class="form-control input_user" placeholder="">
                        <div *ngIf="submitted && f.addnl_spdays.errors" class="invalid-feedback"
                          [ngClass]="{ 'is-invalid': submitted && f.addnl_spdays.errors }">
                          <div *ngIf="f.addnl_spdays.errors.required">This field is required</div>
                          <div *ngIf="f.addnl_spdays.errors.pattern">Invalid number</div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <select id="supress02" formControlName="supp_uom" name="ads" class="form-control input_user">
                          <option value="" disabled>Select</option>
                          <option value="Days">Days</option>
                          <option value="Hours">Hours</option>
                          <option value="Minutes">Minutes</option>
                        </select>
                        <div *ngIf="submitted && f.supp_uom.errors" class="invalid-feedback"
                          [ngClass]="{ 'is-invalid': submitted && f.supp_uom.errors }">
                          <div *ngIf="f.supp_uom.errors.required">This field is required</div>
                        </div>
                      </div>
                    </div>


                  </div>
                  <div class="col-sm-4">
                    <label>Priority</label>
                    <select formControlName="priority" name="ads" class="form-control input_user">
                      <option value="" disabled>Select</option>
                      <option value="1">High</option>
                      <option value="2">Medium</option>
                      <option value="3">Low</option>
                    </select>
                    <div *ngIf="submitted && f.priority.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.priority.errors }">
                      <div *ngIf="f.priority.errors.required">This field is required</div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-4">
                    <label>API</label>
                    <select name="" formControlName="dev_api_id" class="form-control">
                      <option value="" disabled>Select API</option>
                      <option *ngFor="let ap of allApis" value="{{ap.api_Id}}">{{ap.api_name}}</option>
                    </select>
                    <div *ngIf="submitted && f.dev_api_id.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.dev_api_id.errors }">
                      <div *ngIf="f.dev_api_id.errors.required">This field is required</div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <label>API Call Frequency</label>
                    <div class="row">
                      <div class="col-sm-6">
                        <input type="text" id="supress01" formControlName="api_callfreq" name=""
                          class="form-control input_user" placeholder="Frequency">
                        <div *ngIf="submitted && f.api_callfreq.errors" class="invalid-feedback"
                          [ngClass]="{ 'is-invalid': submitted && f.api_callfreq.errors }">
                          <div *ngIf="f.api_callfreq.errors.required">This field is required</div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <select id="supress02" formControlName="apifreq_uom" name="apifreq_uom"
                          class="form-control input_user">
                          <option value="" disabled>Select</option>
                          <option value="Days">Days</option>
                          <option value="Hours">Hours</option>
                          <option value="Minutes">Minutes</option>
                        </select>
                        <div *ngIf="submitted && f.apifreq_uom.errors" class="invalid-feedback"
                          [ngClass]="{ 'is-invalid': submitted && f.apifreq_uom.errors }">
                          <div *ngIf="f.apifreq_uom.errors.required">This field is required</div>
                          <div *ngIf="f.apifreq_uom.errors.pattern">Invalid Number</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <label>Notes</label>
                    <input type="text" formControlName="notes" name="" class="form-control input_user">
                    <div *ngIf="submitted && f.notes.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.notes.errors }">
                      <div *ngIf="f.notes.errors.required">This field is required</div>
                    </div>
                  </div>

                </div>

                <div class="row">
                  <div class="col-sm-4">
                    <label>Rules</label>
                    <input type="text" formControlName="rules" name="rules" class="form-control input_user">
                    <div *ngIf="submitted && f.rules.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.rules.errors }">
                      <div *ngIf="f.rules.errors.required">This field is required</div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <label>Deviation Value</label>
                    <input type="text" formControlName="deviation_value" name="" class="form-control input_user"
                      value="Deviation Value">
                    <div *ngIf="submitted && f.deviation_value.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.deviation_value.errors }">
                      <div *ngIf="f.deviation_value.errors.required">This field is required</div>
                      <div *ngIf="f.deviation_value.errors.pattern">Invalid Number</div>
                      <div *ngIf="f.deviation_value.errors?.min">Minimum is 0</div>
                      <div *ngIf="f.deviation_value.errors?.max">Maximum is 100</div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <label>Deviation Target</label>
                    <input type="text" formControlName="deviation_target" name="" class="form-control input_user"
                      value="Deviation Target">
                  </div>
                </div>

                <div class="breaker01"></div>
                <h5>Diagnostic</h5>
                <div class="row">
                  <div class="col-sm-4">
                    <label>Diagnostic Range</label>
                    <input type="text" formControlName="diagrange" name="" class="form-control input_user"
                      value="Diagnostic Range" placeholder="Days">
                    <div *ngIf="submitted && f.diagrange.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.diagrange.errors }">
                      <div *ngIf="f.diagrange.errors.required">This field is required</div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <label>Diagnostic Frequency</label>
                    <input type="text" formControlName="frequency" name="" class="form-control input_user">
                    <div *ngIf="submitted && f.frequency.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.frequency.errors }">
                      <div *ngIf="f.frequency.errors.required">This field is required</div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <label>Trigger Point</label>
                    <input type="text" formControlName="trigger_point" name="" class="form-control input_user">
                    <div *ngIf="submitted && f.trigger_point.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.trigger_point.errors }">
                      <div *ngIf="f.trigger_point.errors.required">This field is required</div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-4">
                    <label>Historical Cycle Time</label>
                    <input type="text" formControlName="histcycle_time" name="" class="form-control input_user">
                    <div *ngIf="submitted && f.histcycle_time.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.histcycle_time.errors }">
                      <div *ngIf="f.histcycle_time.errors.required">This field is required</div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <label>Parameters Target</label>
                    <input type="text" formControlName="params_target" name="" class="form-control input_user">
                    <div *ngIf="submitted && f.params_target.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.params_target.errors }">
                      <div *ngIf="f.params_target.errors.required">This field is required</div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <label>Parameters Actual</label>
                    <input type="text" name="" formControlName="actual_params" class="form-control input_user">
                    <div *ngIf="submitted && f.actual_params.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.actual_params.errors }">
                      <div *ngIf="f.actual_params.errors.required">This field is required</div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-4">
                    <label>Date</label>
                    <input type="text" id="datepicker" formControlName="dateTime" placeholder="MM : DD : YYYY"
                      [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker
                      [(bsValue)]="myDateValue1">
                    <i class="far fa-calendar-alt"></i>
                    <div *ngIf="submitted && f.dateTime.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.dateTime.errors }">
                      <div *ngIf="f.dateTime.errors.required">This field is required</div>
                    </div>
                  </div>
                  <!-- <div class="col-sm-4">
                                        <label>Time </label>
                                        <input type="text" name="" class="form-control input_user" >
                                    </div> -->
                  <div class="col-sm-4">
                    <label>Description</label>
                    <input type="text" formControlName="description" name="" class="form-control input_user">
                    <div *ngIf="submitted && f.description.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
                      <div *ngIf="f.description.errors.required">This field is required</div>
                    </div>
                  </div>
                </div>

                <div class="breaker01"></div>
                <div class="row" id="section01">
                  <div class="col-lg-2 col-sm-3"></div>
                  <div class="col-lg-2 col-sm-3">
                    <label for="">Time</label>
                  </div>
                  <div class="col-lg-2 col-sm-3">
                    <label for="">UOM</label>
                  </div>
                  <div class="col-lg-3 col-sm-3">
                    <label for="">Assigned To</label>
                  </div>
                </div>

                <div class="row" id="section001">
                  <div class="col-lg-2 col-sm-3">
                    <label for="">Acknowledge</label>
                  </div>
                  <div class="col-lg-2 col-sm-3">
                    <input type="text" formControlName="ack_duration" name="" class="form-control input_user">
                    <div *ngIf="submitted && f.ack_duration.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.ack_duration.errors }">
                      <div *ngIf="f.ack_duration.errors.required">This field is required</div>
                    </div>
                  </div>
                  <div class="col-lg-2 col-sm-3">
                    <select formControlName="ack_time_uom" name="ack_time_uom" class="form-control input_user">
                      <option value="" disabled>Select</option>
                      <option value="Days">Days</option>
                      <option value="Hours">Hours</option>
                      <option value="Minutes">Minutes</option>
                    </select>
                    <div *ngIf="submitted && f.ack_time_uom.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.ack_time_uom.errors }">
                      <div *ngIf="f.ack_time_uom.errors.required">This field is required</div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3">
                    <select name="" class="form-control input_user" formControlName="ack_assigned_To">
                      <option value="" disabled>Select</option>
                      <option *ngFor="let ad of usersoforg" value={{ad.User_ID}}> {{ad.first_name}}</option>
                    </select>
                    <div *ngIf="submitted && f.ack_assigned_To.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.ack_assigned_To.errors }">
                      <div *ngIf="f.ack_assigned_To.errors.required">This field is required</div>
                    </div>
                  </div>
                </div>

                <div class="row" id="section001">
                  <div class="col-lg-2 col-sm-3">
                    <label for="">Diagonose</label>
                  </div>
                  <div class="col-lg-2 col-sm-3">
                    <input type="text" name="" formControlName="diag_duration" class="form-control input_user">
                    <div *ngIf="submitted && f.diag_duration.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.diag_duration.errors }">
                      <div *ngIf="f.diag_duration.errors.required">This field is required</div>
                    </div>
                  </div>
                  <div class="col-lg-2 col-sm-3">
                    <select formControlName="diag_uom" name="ads" class="form-control input_user">
                      <option value="" disabled>Select</option>
                      <option value="Days">Days</option>
                      <option value="Hours">Hours</option>
                      <option value="Minutes">Minutes</option>
                    </select>
                    <div *ngIf="submitted && f.diag_uom.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.diag_uom.errors }">
                      <div *ngIf="f.diag_uom.errors.required">This field is required</div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3">

                    <select formControlName="diag_assigned_to" name="" class="form-control input_user">

                      <option value="" disabled>Select</option>
                      <option *ngFor="let ad of usersoforg" value={{ad.User_ID}}> {{ad.first_name}}</option>

                    </select>
                    <div *ngIf="submitted && f.diag_assigned_to.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.diag_assigned_to.errors }">
                      <div *ngIf="f.diag_assigned_to.errors.required">This field is required</div>
                    </div>
                  </div>
                </div>

                <div class="row" id="section001">
                  <div class="col-lg-2 col-sm-3">
                    <label for="">Action</label>
                  </div>
                  <div class="col-lg-2 col-sm-3">
                    <input type="text" formControlName="action_duration" name="" class="form-control input_user">
                    <div *ngIf="submitted && f.action_duration.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.action_duration.errors }">
                      <div *ngIf="f.action_duration.errors.required">This field is required</div>
                    </div>
                  </div>
                  <div class="col-lg-2 col-sm-3">
                    <select formControlName="action_uom" name="action_uom" class="form-control input_user">
                      <option value="" disabled>Select</option>
                      <option value="Days">Days</option>
                      <option value="Hours">Hours</option>
                      <option value="Minutes">Minutes</option>
                    </select>
                    <div *ngIf="submitted && f.action_uom.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.action_uom.errors }">
                      <div *ngIf="f.action_uom.errors.required">This field is required</div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3">
                    <select name="" formControlName="action_assigned_to" class="form-control input_user">
                      <option value="" disabled>Select</option>
                      <option *ngFor="let ad of usersoforg" value={{ad.User_ID}}> {{ad.first_name}}</option>

                    </select>
                    <div *ngIf="submitted && f.action_assigned_to.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.action_assigned_to.errors }">
                      <div *ngIf="f.action_assigned_to.errors.required">This field is required</div>
                    </div>
                  </div>
                </div>

                <div class="row" id="section001">
                  <div class="col-lg-2 col-sm-3">
                    <label for="">Close</label>
                  </div>
                  <div class="col-lg-2 col-sm-3">
                    <input type="text" name="" formControlName="close_duration" class="form-control input_user">
                    <div *ngIf="submitted && f.close_duration.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.close_duration.errors }">
                      <div *ngIf="f.close_duration.errors.required">This field is required</div>
                    </div>
                  </div>
                  <div class="col-lg-2 col-sm-3">
                    <select formControlName="close_uom" name="ads" class="form-control input_user">
                      <option value="" disabled>Select</option>
                      <option value="Days">Days</option>
                      <option value="Hours">Hours</option>
                      <option value="Minutes">Minutes</option>
                    </select>
                    <div *ngIf="submitted && f.close_uom.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.close_uom.errors }">
                      <div *ngIf="f.close_uom.errors.required">This field is required</div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3">
                    <select name="" formControlName="close_assigned_to" class="form-control input_user">
                      <option value="" disabled>Select</option>
                      <option *ngFor="let ad of usersoforg" value={{ad.User_ID}}> {{ad.first_name}}</option>
                    </select>
                    <div *ngIf="submitted && f.close_assigned_to.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.close_assigned_to.errors }">
                      <div *ngIf="f.close_assigned_to.errors.required">This field is required</div>
                    </div>
                  </div>
                </div>

                <div class="row" id="section001">
                  <div class="col-lg-2 col-sm-3">
                    <label for="">Observe</label>
                  </div>
                  <div class="col-lg-2 col-sm-3">
                    <input type="text" name="" formControlName="observe_duration" class="form-control input_user">
                    <div *ngIf="submitted && f.observe_duration.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.observe_duration.errors }">
                      <div *ngIf="f.observe_duration.errors.required">This field is required</div>
                    </div>
                  </div>
                  <div class="col-lg-2 col-sm-3">
                    <select formControlName="observe_uom" name="observe_uom" class="form-control input_user">
                      <option value="" disabled>Select</option>
                      <option value="Days">Days</option>
                      <option value="Hours">Hours</option>
                      <option value="Minutes">Minutes</option>
                    </select>
                    <div *ngIf="submitted && f.observe_uom.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.observe_uom.errors }">
                      <div *ngIf="f.observe_uom.errors.required">This field is required</div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3">
                    <select name="" class="form-control input_user" formControlName="observe_assigned_to">
                      <option value="" disabled>Select</option>
                      <option *ngFor="let ad of usersoforg" value={{ad.User_ID}}> {{ad.first_name}}</option>
                    </select>
                    <div *ngIf="submitted && f.observe_assigned_to.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.observe_assigned_to.errors }">
                      <div *ngIf="f.observe_assigned_to.errors.required">This field is required</div>
                    </div>
                  </div>
                </div>

                <div class="breaker01"></div>
                <h5>Communication</h5>
                <div class="row" id="makeCursor">
                  <div class="col-lg-2 col-sm-4">
                    <label for="">Communication: </label>
                  </div>
                  <div class="col-lg-4 col-sm-4" id="radioButton">
                    <label for="">Yes</label> <input type="radio" name="comu_req" formControlName="comu_req"
                      value="yes">
                    <label for="">No</label> <input type="radio" name="comu_req" formControlName="comu_req" value="no">
                  </div>
                </div>

                <div class="row" id="makeCursor">
                  <div class="col-lg-2 col-sm-4">
                    <label for="">Communication <br> Method: </label>
                  </div>

                  <div class="col-lg-10 col-sm-12">
                    <div class="row">
                      <div class="col-lg-6 col-sm-8 col-xs-12" comu_req id="checkBox01">

                        <div class="row" id="takeUp">
                          <div class="col-sm-3">
                            <label for="">SMS</label>
                          </div>
                          <div class="col-sm-1">
                            <input type="checkbox" name="sms_req" formControlName="sms_req">
                          </div>
                          <div class="col-sm-3">
                            <textarea name="sms_nos" formControlName="sms_nos"></textarea>
                          </div>
                        </div>
                        <div class="row" id="takeUp">
                          <div class="col-sm-3">
                            <label for="">Email</label>
                          </div>
                          <div class="col-sm-1">
                            <input type="checkbox" name="email_req" formControlName="email_req">
                          </div>
                          <div class="col-sm-3">
                            <textarea name="email_ids" formControlName="email_ids"></textarea>
                          </div>
                        </div>
                        <div class="row" id="takeUp">
                          <div class="col-sm-3">
                            <label for="">Whatsapp</label>
                          </div>
                          <div class="col-sm-1">
                            <input type="checkbox" name="whatsapp_req" formControlName="whatsapp_req">
                          </div>
                          <div class="col-sm-3">
                            <textarea name="whatsapp_nos" formControlName="whatsapp_nos"></textarea>
                          </div>
                        </div>
                        <div class="row" id="takeUp">
                          <div class="col-sm-3">
                            <label for="">All</label>
                          </div>
                          <div class="col-sm-1">
                            <input type="checkbox">
                          </div>
                          <div class="col-sm-3">
                            <textarea name=""></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-sm-8 col-xs-12" comu_req id="checkBox01">

                        <div class="row" id="takeUp">
                          <div class="col-sm-3">
                            <label for="">Message</label>
                          </div>
                          <div class="col-sm-3">
                            <textarea name="sms_message" formControlName="sms_message"></textarea>
                          </div>
                        </div>
                        <div class="row" id="takeUp">
                          <div class="col-sm-3">
                            <label for="">Message</label>
                          </div>
                          <div class="col-sm-3">
                            <textarea name="email_message" formControlName="email_message"></textarea>
                          </div>
                        </div>
                        <div class="row" id="takeUp">
                          <div class="col-sm-3">
                            <label for="">Message</label>
                          </div>

                          <div class="col-sm-3">
                            <textarea name="wapp_message" formControlName="wapp_message"></textarea>

                          </div>
                        </div>
                        <div class="row" id="takeUp">
                        </div>
                      </div>
                    </div>

                  </div>


                </div>

                <div class="row">
                  <div class="col-sm-3 col-lg-8"></div>
                  <div class="col-sm-6 col-lg-4">
                    <button type="submit" class="btn" (click)="checkAlertExists()">Save</button>
                    <button type="button" class="btn" (click)="OnbuttonClickClose()">
                      Cancel
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>