<ngx-spinner bdColor="rgba(255,255,255, 0.95)" size="0" color="#fff" type="">
    <p style="font-size: 10px; margin-top:20px; color: black; text-align: center">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    </p>
</ngx-spinner>
<router-outlet></router-outlet>