

/* ===== section1 form ===== */
.section1 h3 {
    background-color: #7c70d2;
    text-align: center;
    padding: 10px 0;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 12px 0;
}

.section1 label {
    font-size: 18px;
font-weight: 600;
margin: 20px 0 10px 5px;
color:dimgray;
}

.section1 input {
    border: 1px solid dimgray;
    padding: 0 20px;
    border-radius: 5px;
    background: #ebebeb;
    width: 90%;
    height: 40px;
    font-size: 16px;
    color: dimgray;
}

.section1 textarea {
    border: 1px solid dimgray;
    padding: 0 20px;
    border-radius: 5px;
    background: #ebebeb;
    width: 90%;
    height: 80px;
    font-size: 16px;
    color: dimgray;
}

.section1 #uploadFile {
    margin: -8px 0 0 0;
    padding: 7px 0 0 16px;
}

.section1 p {
    color: black;
	font-weight: 600;
	font-size: 20px;
	margin: 17px 0 -12px 4px;
}

.section1 form {
    padding: 20px;
    box-shadow: 5px 5px 10px 5px #ccc;
    margin: -10px 0 0 0;
    border: 4px solid #ccc;
    border-radius: 5px;
    border-top: none;
}

.section1 {
    background-color: white;
}

.section1 button {
    color: white;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 5px;
    margin: 21px 29px 0 9px;
    background-color: #7c70d2;
    font-weight: 600;
}

.section1 #uploadButton {
    margin: 55px 0 0 -33px;
}

.section1 #uploadLabel {
    margin: 20px 0 17px 0;
}

.section1 button a {
    color: white;
}

.section1 button a:hover {
    color: white;
}

/* ===== media query ===== */
/*mobile 1 (sm)*/
@media(min-width: 360px) and (max-width: 640px) {

    .section1 input {
        height: 35px;
        width: 100%;
    }

    .section1 input[type="file"] {
        font-size: 10px;
    }

    .section1 textarea {
        height: 70px;
        width: 100%;
    }

    .section1 button {
        margin: 0;
    }

    .section1 #uploadButton {
        margin: 0;
    }

    .section1 h3 {
        font-size: 16px;
    }

    .section1 label {
        font-size: 16px;
        }
}


/*mobile 2 (sm)*/
@media(min-width: 412px) and (max-width: 732px) {}

/*tab 1 (sm)*/
@media(min-width: 768px) and (max-width: 978px) {


    .section1 button {
        margin: 0 7px;
    }

    .section1 #uploadFile {
        padding: 9px 0 0 16px;
        font-size: 11px;
    }
}

/*tab 2 (sm)*/
@media(min-width: 980px) and (max-width: 1199px) {

}
