<!-- ========== comments ========== -->
<div class="content-wrap">
    <div class="main">
        <div class="section">
            <div class="container-fluid">
                <div class="row">

                    <!-- ========== section1 form ========== -->
                    <div class="col-sm-12">
                        <div class="section1">
                            <h3>Company Creation</h3>

                            <form [formGroup] = "companyForm" (ngSubmit)="submit()">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Company Name</label>
                                        <input type="text" formControlName="org_Name" name="" class="form-control input_user" value="" placeholder="Company Name" >
                                        <div *ngIf="submitted && f.org_Name.errors" class="invalid-feedback" [ngClass]="{ 'is-invalid': submitted && f.org_Name.errors }">
                                                <div *ngIf="f.org_Name.errors.required">This field is required</div>
                                              </div>
                                    </div>
                                    <div class="col-sm-6"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Address</label>
                                        <textarea formControlName="address" name="" class="form-control input_user" value="" placeholder="Address"></textarea>
                                        <div *ngIf="submitted && f.address.errors" class="invalid-feedback" [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
                                                <div *ngIf="f.address.errors.required">This field is required</div>
                                              </div>
                                    </div>
                                    <div class="col-sm-6"></div>
                                </div>

                                <p>Contact Details</p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Email ID</label>
                                        <input type="email" formControlName="mail_Id" name="" class="form-control input_user" value="" placeholder="EmailId">
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                                <div *ngIf="f.email.errors.required">This field is required</div>
                                              </div>
                                    </div>
                                    <div class="col-sm-6"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Contact No</label>
                                        <input type="text" formControlName="phone_No" name="" class="form-control input_user" value="" placeholder="ContactNo">
                                        <div *ngIf="submitted && f.phone_No.errors" class="invalid-feedback" [ngClass]="{ 'is-invalid': submitted && f.phone_No.errors }">
                                                <div *ngIf="f.phone_No.errors.required">This field is required</div>
                                              </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                                <div class="col-lg-12 col-sm-12">
                                                        <label for="logo">Company Logo: <img src="{{image}}" height="30" /></label>
                                                <div class="custom-file">
                                                        <label for="logo" class="custom-file-label">{{selectedFilename}}</label>
                                                        <input type="file" accept="image/*" (change)="changeListener($event)" id="logo"
                                                          class="custom-file-input form-control" formControlName="logo_Path"
                                                          [ngClass]="{ 'is-invalid': submitted && f.logo_Path.errors }" placeholder="Company Logo"
                                                          accept="image/x-png,image/gif,image/jpeg">
                                            
                                                        <div *ngIf="submitted && f.logo_Path.invalid" class="invalid-feedback" [ngClass]="{ 'is-invalid': submitted && f.logo_Path.errors }">
                                                          <div *ngIf="f.logo_Path.errors.required">This field is required</div>
                                                        </div>
                                                      </div>
                                                </div>
                                            <!-- <div class="col-lg-9 col-sm-9">
                                                <label id="uploadLabel">Logo</label>
                                                <input type="file" id="uploadFile" >
                                            </div>
                                            <div class="col-lg-3 col-sm-3">
                                                <button type="button" class="btn" id="uploadButton">Upload</button>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-lg-9 col-sm-6"></div>
                                    <div class="col-lg-3 col-sm-6">
                                        <button type="submit" class="btn" (click)="onClickSubmit(formdata.value)">Save</button>
                                        <button type="button" class="btn" (click)="OnbuttonClickClose()">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>