<div class="layout-wrapper">
    <div id="layout-topbar">
        <a href="#" class="menu-button" (click)="onMenuButtonClick($event)">
            <i class="fa fa-bars"></i>
        </a>

        <a class="logo">
            <img alt="logo" src={{this.logoPath}} />
        </a>

        <span>
            <i class="fas fa-bars" id="showSideebar" (click)="showFunction()"></i>
            <i class="far fa-times-circle" id="hideSideebar" (click)="hideFunction()"></i>
        </span>

        <ul class="topbar-menu" id="topBar_Menu">
            <li class="topbar-menu-versions">
                <h3> {{this.userObj.first_name}}</h3>
                <!-- <img alt="logo" id="userPic" src="assets/showcase/images/home/userpic.png" /> -->
            </li>
            <a [routerLink]="['/']"><i class="fa fa-power-off" aria-hidden="true"></i>
            </a>
        </ul>
    </div>

    <div id="layout-sidebar" [ngClass]="{'active': menuActive}">
        <div class="layout-menu">
            <!-- <div class="layout-menu-search ui-fluid">
         
                    <i class="pi pi-search"></i> <i class="pi pi-search"></i>
            </div> -->
            <ng-container *ngIf="userObj.role == 'employee'">
                <a id="menu_input" #inputmenutitle [class.active-menuitem]="inputmenutitle.id == activeMenuId"
                    tabindex="0" (keydown)="onKeydown($event, inputmenutitle.id)" (click)="toggle(inputmenutitle.id )">
                    <!-- <img src="assets/showcase/images/icons/input-active.svg" class="layout-menu-icon-active"/>
                <img src="assets/showcase/images/icons/input.svg" class="layout-menu-icon-inactive"/> -->
                    <span><i class="fa fa-bell"></i>&nbsp; My Alerts</span>
                </a>
                <div [@animation]="(inputmenutitle.id == activeMenuId) ? 'visible' : 'hidden'"
                    (@animation.start)="onAnimationStart($event)" (@animation.done)="onAnimationDone($event)">
                    <ul class="nobullet" style="display: block;">



                        <li *ngFor="let dt of departmentdata" value={{dt.dept_id}}> <span><i
                                    class="fa fa-bell"></i></span><a [routerLink]="['/layout/user']"
                                [queryParams]="{param: dt.dept_name, param2: dt.dept_id }"
                                (click)="menuActive = false">{{dt.dept_name}}</a></li><br>
                    </ul>
                </div>
            </ng-container>
            <ng-container *ngIf="userObj.role == 'employee' || userObj.role == 'companyadmin'">
                <a id="menu_input1" #inputmenutitle1 [class.active-menuitem]="inputmenutitle1.id == activeMenuId"
                    tabindex="0" (keydown)="onKeydown($event, inputmenutitle1.id)" (click)="toggle(inputmenutitle1.id)">
                    <!-- <img src="assets/showcase/images/icons/input-active.svg" class="layout-menu-icon-active"/>
                <img src="assets/showcase/images/icons/input.svg" class="layout-menu-icon-inactive"/> -->
                    <span><i class="fa fa-bell"></i>&nbsp; All Alerts</span>
                </a>
                <div [@animation]="(inputmenutitle1.id == activeMenuId) ? 'visible' : 'hidden'"
                    (@animation.start)="onAnimationStart($event)" (@animation.done)="onAnimationDone($event)">
                    <ul class="nobullet" style="display: block;">
                        <li><a [routerLink]="['/layout/user']"  [queryParams]="{param: 'all'}"><span><i class="fa fa-bell"></i></span> Show
                                All</a></li>
                        <li *ngFor="let dt of departmentdata" value={{dt.dept_id}}> <span><i
                                    class="fa fa-bell"></i></span><a [routerLink]="['/layout/user']"
                                [queryParams]="{param: dt.dept_name, param2: dt.dept_id }"
                                (click)="toggler(dt.dept_id)">All {{dt.dept_name}}</a></li><br>

                    </ul>
                </div>
            </ng-container>

            <ng-container *ngIf="userObj.role == 'SuperAdmin' || userObj.role == 'companyadmin'">
                <a id="menu_input2" #inputmenutitle2 [class.active-menuitem]="inputmenutitle2.id == activeMenuId"
                    tabindex="0" (keydown)="onKeydown($event, inputmenutitle2.id)" (click)="toggle(inputmenutitle2.id)">
                    <!-- <img src="assets/showcase/images/icons/input-active.svg" class="layout-menu-icon-active"/>
            <img src="assets/showcase/images/icons/input.svg" class="layout-menu-icon-inactive"/> -->
                    <span><i class="fa fa-bell"></i>&nbsp; Admin</span>
                </a>
                <div [@animation]="(inputmenutitle2.id == activeMenuId) ? 'visible' : 'hidden'"
                    (@animation.start)="onAnimationStart($event)" (@animation.done)="onAnimationDone($event)">
                    <ul class="nobullet" style="display: block;">
                        <!-- <div>
                        <li> <span><i class="fa fa-user white"></i></span><a [routerLink]="['/layout/user']"
                                (click)="menuActive = false">User</a></li><br>
                    </div> -->
                        <li> <span><i class="fa fa-bell"></i></span><a [routerLink]="['/layout/alert']"
                                (click)="menuActive = false">Alert Creation</a></li><br>
                        <li *ngIf="userObj.role == 'SuperAdmin'"> <span><i class="fa fa-bell"></i></span><a
                                [routerLink]="['/layout/company']" (click)="menuActive = false">Company Creation</a>
                        </li><br>
                        <li> <span><i class="fa fa-bell"></i></span><a [routerLink]="['/layout/apimapping']"
                                (click)="menuActive = false">API Mapping</a></li><br>
                    </ul>
                </div>
            </ng-container>

        </div>
    </div>

</div>

<div class="layout-mask" *ngIf="c">
</div>

<div id="layout-content">
    <div>
        <router-outlet></router-outlet>
    </div>
</div>