ul.ng-tns-c1-0 {
    color: white;
}
.nobullet{
    list-style: none;;
}
.white{
    color:white;
}

    /* left layout */
    #layout-sidebar {
        background-color: white;
    }

    #layout-sidebar .layout-menu>div {
        background-color: white;
    }

    #layout-sidebar .layout-menu>a.active-menuitem {
        background-color: white !important;
    }

    #layout-sidebar .layout-menu>a:focus {
        box-shadow: none;
    }

    #layout-sidebar .layout-menu>a span {
        color: #7c70d2;
        font-weight: 600;
    }

    #layout-sidebar .layout-menu>div a {
        color: dimgray;
    }

    .fa-bell {
        color: dimgray;
    }

    #layout-sidebar .layout-menu>a {
        border: 1px solid #ccc;
        margin: 7px;
        border-radius: 15px;
        width: 236px;
        height: 40px;
        padding: 10px 0 0 0;
    }

    .ng-tns-c1-0:hover {
        text-decoration: none;
    }

    #layout-sidebar ul li {
        border: 1px solid #ccc;
        padding: 8px 25px;
        margin: 5px 0;
        border-radius: 15px;
    }

    .nobullet {
        margin: 10px 0 -10px -38px;
        width: 240px;
    }

    #layout-sidebar .layout-menu>div a:hover {
        color: #7c70d2 !important;
    }

    /* top header */
    #layout-topbar {
        background-color: #ebebeb;
    }

    #layout-topbar h3 {
        color: #7c70d2;
        margin: 22px 0 0 0;
        text-transform: uppercase;
        font-size: 20px;
    }

    #layout-topbar #userPic {
        height: 50px;
        margin: -100px 0 0 100px;
    }
  
    .fa.fa-power-off{
        color: black;
        font-size: 20px;
        position: relative;
        left: 27px;
    }
    .topbar-menu > li > a:hover {
        background: none;
    }
    #layout-topbar .logo {
        background: white;
        width: 250px;
    }
    #layout-topbar .logo img {
        width: 80%;
        margin-left: 32px;
        height: 67px;
    }

/* side bar */
#layout-content {
	margin-left: 0;
}

#layout-content {
	padding: 77px 20px 50px 20px;
}

#layout-sidebar {
    display: none;
    z-index: 9;
}

#showSideebar{
    font-size: 25px;
    cursor: pointer;
    color: #7c70d2;
    position: relative;
    top: 4px;
    left: 9px;
    width: 0;
    transition: 0.1s;
}

#showSideebar:hover{
    color: dimgray;
    transform: scale(1.1);
}

#hideSideebar{
    display: none;
    font-size: 25px;
    cursor: pointer;
    position: relative;
    left: 263px;
    top: -45px;
    color: #7c70d2;
    width: 0;
    transition: 0.1s;
}

#hideSideebar:hover{
    color: dimgray;
    transform: scale(1.1);
}

/*media query*/
/*mobile 1 (sm)*/
@media(min-width: 360px) and (max-width: 640px) {
    #layout-topbar .logo {
        width: 150px;
    }
    #layout-topbar .logo img {
        margin-left: 0;
    }
    .topbar-menu {
        position: relative;
        left: -31px;
        top: -10px;
    }
    #showSideebar{
        display: none;
   }
}

/*mobile 2 (sm)*/
@media(min-width: 412px) and (max-width: 732px) {}

/*tab 1 (sm)*/
@media(min-width: 768px) and (max-width: 978px) {
    #showSideebar{
        display: none;
   }
}

/*tab 2 (sm)*/
@media(min-width: 980px) and (max-width: 1199px) {
    #showSideebar{
        display: none;
   }
}
    
/*ipad query*/
/*portrait*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    #layout-topbar .logo img {
        margin-left: 0;
    }
    .topbar-menu {
        position: relative;
        left: -70px;
        top: -8px;
    }
    #showSideebar{
        display: none;
   }
}

/*landscape*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    #layout-topbar .logo img {
        margin-left: 0;
    }
    .topbar-menu {
        position: relative;
        left: -70px;
        top: -8px;
    }
}

/*ipad pro query (10.5 inch)*/
/* Portrait*/
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (orientation: portrait) {}

/* Landscape*/
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (orientation: landscape) {}

/*ipad pro query (12.9 inch)*/
/* Portrait*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {}

/* Landscape*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {}