

/* ===== section1 form ===== */
.section1 h3 {
    background-color: #7c70d2;
    text-align: center;
    padding: 10px 0;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 12px 0;
}

.section1 select {
    border: 1px solid dimgray;
    border-radius: 5px;
    width: 90%;
    background: #ebebeb;
    cursor: pointer;
    -webkit-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, dimgray 50%), linear-gradient(135deg, dimgray 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
    font-size: 16px;
    color: dimgray;
    height: 40px;
}

.section1 label {
    font-size: 18px;
	font-weight: 600;
	margin: 20px 0 10px 5px;
	color: dimgray;
}
.section1 input {
    border: 1px solid dimgray;
    padding: 0 20px;
    border-radius: 5px;
    background: #ebebeb;
    width: 90%;
    height: 40px;
    font-size: 16px;
    color: dimgray;
}

.section1 form {
    padding: 20px;
    box-shadow: 5px 5px 10px 5px #ccc;
    margin: -10px 0 0 0;
    border: 4px solid #ccc;
    border-radius: 5px;
    border-top: none;
}

.section1 {
    background-color: white;
}

.section1 button {
    color: white;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 5px;
    margin: 0 10px;
    background-color: #7c70d2;
    font-weight: 600;
}

.section1 button a {
    color: white;
}

.section1 button a:hover {
    color: white;
}

/* ===== media query ===== */
/*mobile 1 (sm)*/
@media(min-width: 360px) and (max-width: 640px) {

    .section1 input {
        height: 35px;
        width: 100%;
    }

    .section1 select {
        height: 35px;
        width: 100%;
    }

    .section1 button {
        margin: 0;
    }

    .section1 h3 {
        font-size: 16px;
    }

    .section1 label {
        font-size: 16px;
    }

}

/*mobile 2 (sm)*/
@media(min-width: 412px) and (max-width: 732px) {}

/*tab 1 (sm)*/
@media(min-width: 768px) and (max-width: 978px) {

}

/*tab 2 (sm)*/
@media(min-width: 980px) and (max-width: 1199px) {

}
