<!-- ========== comments ========== -->
<div class="content-wrap">
  <div class="main">
    <div class="section">
      <div class="container-fluid">
        <div class="row">

          <!-- ========== section1 form ========== -->
          <div class="col-sm-12">
            <div class="section1">
              <h3>API Mapping</h3>

              <form [formGroup]="apiForm" novalidate (ngSubmit)="submit()">
                <div class="row">
                  <div class="col-sm-6">
                    <label>API Name</label>
                    <input type="text" formControlName="api_name"
                      [ngClass]="{ 'is-invalid': submitted && f.api_name.errors }">
                    <div *ngIf="submitted && f.api_name.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.api_name.errors }">
                      <div *ngIf="f.api_name.errors.required">This field is required</div>
                    </div>
                  </div>
                  <div class="col-sm-6"></div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <label>URL Of API</label>
                    <input type="text" formControlName="url" [ngClass]="{ 'is-invalid': submitted && f.url.errors }">
                    <div *ngIf="submitted && f.url.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.url.errors }">
                      <div *ngIf="f.url.errors.required">This field is required</div>
                    </div>
                  </div>
                  <div class="col-sm-6"></div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <label>Input Parameters</label>
                    <input type="text" formControlName="in_param"
                      [ngClass]="{ 'is-invalid': submitted && f.in_param.errors }">
                    <!-- <select formControlName="in_param" [ngClass]="{ 'is-invalid': submitted && f.in_param.errors }">
                      <option value="" disabled>Select</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                    </select> -->
                    <div *ngIf="submitted && f.in_param.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.in_param.errors }">
                      <div *ngIf="f.in_param.errors.required">This field is required</div>
                    </div>
                  </div>
                  <div class="col-sm-6"></div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <label>Output Parameters</label>
                    <input type="text" formControlName="out_param"
                      [ngClass]="{ 'is-invalid': submitted && f.out_param.errors }">
                    <div *ngIf="submitted && f.out_param.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.out_param.errors }">
                      <div *ngIf="f.out_param.errors.required">This field is required</div>
                    </div>
                  </div>
                  <div class="col-sm-6"></div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <label>Return Type</label>
                    <input type="text" formControlName="return_type"
                      [ngClass]="{ 'is-invalid': submitted && f.return_type.errors }">
                    <!-- <select formControlName="return_type"
                      [ngClass]="{ 'is-invalid': submitted && f.return_type.errors }">
                      <option value="" disabled>Select</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                    </select> -->
                    <div *ngIf="submitted && f.return_type.errors" class="invalid-feedback"
                      [ngClass]="{ 'is-invalid': submitted && f.return_type.errors }">
                      <div *ngIf="f.return_type.errors.required">This field is required</div>
                    </div>
                  </div>
                  <div class="col-sm-6"></div>
                </div>

                <div class="row">
                  <div class="col-lg-8 col-sm-6"></div>
                  <div class="col-lg-4 col-sm-6">
                    <button type="submit" class="btn">Save</button>
                    <button type="button" class="btn" (click)="OnbuttonClickClose()">
                      Cancel
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>