<div class="container" style="height: 750px">
  <div class="row">
      <div class="col-md-12">
          <div class="error-template">
              <h1 style="font-size: 45px; color: gray;">
                  Oops!</h1>
              <h2 style="font-size:27px">
                  404 - Page Not Found</h2>
              <div class="error-details" style=" font-size: 15px;color: gray;font-weight: bold;">
                  Sorry, an error has occured, Requested page not found!
              </div>
              <div class="error-actions">
                <div class="horizontalrow">
                  <div style="text-align:center;">
                    <button class="btn btn-primary modal-confirm popupbtn" type="button" (click)="goBack();">Back to HOME PAGE</button>
      
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>