/* ===== header ===== */

.hamburger {
    display: none;
}

.header {
    background-color: #ebebeb;
    box-shadow: none;
}

.header h4 {
    color: #7c70d2;
    margin: 22px 0 0 0;
    text-transform: uppercase;
    font-size: 20px;
}

.header img {
    height: 60px;
    margin: 0 0 0 -25px;
}

.downloadButton {
	position: fixed;
    top: -8px;
    left: 296px;
	z-index: 9999;
}

.downloadButton button {
    background-color: #7c70d2;
    color: white;
    margin: 25px 0 0 10px;
    font-size: 14px;
}

.downloadButton button:hover{
    text-decoration: underline;
}

.downloadButton .fa-file-excel {
    color: green;
    margin: 0 5px;
}

.downloadButton .fa-file-pdf {
    color: red;
    margin: 0 5px;
}

table thead th,
table thead td {
    padding: 10px 18px;
    white-space: nowrap;
}
.modal-content{
    height: 80vh;
}

/* .fw-body table {
    border: 1px solid #1d1d85 !important;
    border-radius: 5px;
    scrollbar-width: thin;
    scrollbar-color: #7c70d2 #ebebeb;
    max-height: 340px;
}

thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}


/* thead {
	width: calc( 100% - 1em );
} */


/* .fw-body table::-webkit-scrollbar {
    width: 12px;
} */

.count-dropdown {
    display: flex;
    align-items: center;
}

.custom-pagination {
    text-align: right;
}
.table-responsive {
    overflow-x: hidden;
}

/* ===== section1 form ===== */

.section1 {
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
}

.section1 .dooo {
    border: 1px solid dimgray;
    border-radius: 3px;
    padding: 7px 0 7px 20px;
    width: 100%;
    background-color: #ebebeb;
}

.section1 label {
    font-size: 18px;
    color: dimgray;
    margin: 0 0 3px 3px;
}

.section1 .dooo input {
    border: none;
    border-radius: 3px;
    padding: 0;
    width: 80%;
    font-size: 14px;
}

.section1 input {
    color: dimgray;
    font-size: 16px;
    background-color: #ebebeb;
}

.section1 .dooo img {
    cursor: pointer;
}


/*.section1 .dooo i {
    color: dimgray;
}*/

*/ .section1 {
    background-color: white;
    border-radius: 5px;
    margin: -5px 0 20px 0;
    box-shadow: 4px 4px 8px 4px #ccc;
    padding: 10px;
}

.section1 input[type="radio"] {
    margin: 29px 0 0 0;
    cursor: pointer;
}

.section1 #littleLeft {
    margin: 0 -85px 0 -110px;
}

/* .section1 #littleLeft1 {
    position: relative;
    left: -114px;
} */

.section1 #littleRight {
    margin: 0 30px 0 180px;
}

.section1 #littleRight1 {
    margin: 0 26px 0 -107px;
}

/* .section1 #takeDown {
    margin: 20px 0 40px 0;
} */

.section2 button {
    background: none;
    color: rgb(255, 255, 255);
    text-align: right;
    float: right;
    margin: -8px 0 0 0;
}

i.fas.fa-arrow-right {
    margin: 32px 0 0 -55px;
}

/*section2 modal*/

.section2 .modal-body button span {
    color: white;
    position: relative;
    top: -8px;
    left: 11px;
    cursor: pointer;
}


/* ===== section2 data table ===== */

.section2 #turnThis {
    transform: rotate(-90deg);
    padding: 50px 0;
    border: none;
}

.section2 table.dataTable.display tbody tr:hover > .sorting_1,
table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
    background: none !important;
}

.section2 table.dataTable.display tbody tr.odd > .sorting_1,
table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background: none !important;
}

.section2 th {
    text-align: center;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.section2 tbody td {
    text-align: center;
    border: 1px solid #7c70d2;
    color: dimgray;
    padding: 10px !important;
}

.section2 thead tr th:last-child {
    text-align: center;
}

.section2 tbody tr td:last-child {
    text-align: center;
}

.section2 table.dataTable thead .sorting_asc {
    border: none;
}

.section2 h3 {
    background-color: #7c70d2;
    text-align: center;
    padding: 10px 0;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 12px 0;
}

.section2 h3 i {
    float: right;
    margin: 3px 10px;
    font-size: 24px;
}

.section2 #colorThis {
    background-color: #707070;
}

#colorThis .sorting {
    background: none;
}

.section2 table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
    background-color: white;
}

.section2 #example {
    border: 1px solid #7c70d2;
    border-radius: 5px;
}

.section2 thead {
    background-color: #7c70d2;
}

.section2 table.dataTable thead th,
table.dataTable thead td {
    border-bottom: none !important;
}

.section2 {
    border: 2px solid #ccc;
    background-color: white;
    border-radius: 5px;
}

/* .section2 .fw-container {
    padding: 10px 30px 80px 30px;
    padding: 0 10px;
} */

.section2 #example_filter {
    position: absolute;
    top: -150px;
    right: 0;
}

.section2 #example_filter input {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    background-color: #f7f5f6;
}

.section2 #example_filter label {
    color: dimgray;
}

.section2 sub {
    color: deepskyblue;
    cursor: pointer;
    /*float: right;*/
}

.section2 #example_paginate {
    position: absolute;
    bottom: -55px;
}

.section2 #example_paginate a {
    cursor: pointer;
    color: deepskyblue !important;
}

.section2 #example_length {
    position: absolute;
    bottom: -58px;
    right: 0;
}

.section2 #example_length label {
    color: dimgray;
}

.section2 #example_length select {
    color: dimgray;
}

.section2 #example_info {
    display: none;
}

#colorThis .sorting_asc {
    background: none;
}

#colorThis .sorting_desc {
    background: none;
}

.section2 input[type="checkbox"] {
    cursor: pointer;
}

/*.section2 tbody {
    position: relative;
    top: -28px;
}*/

/* modal */
/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px 0 10px 35px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    left: 1172px;
    top: 11px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* tooltip */
/* .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
} */

/* ===== media query ===== */


/*mobile 1 (sm)*/

@media(min-width: 360px) and (max-width: 640px) {
    .hamburger {
        display: block;
    }
    .sidebar-hide .sidebar.sidebar-hide-to-small .nano-content > ul > li > ul {
        background-color: white !important;
    }
    .section1 {
        padding: 10px 10px 60px 10px;
    }
    .section1 #littleLeft {
        margin: -10px 0;
    }
    .section2 .fw-container {
        padding: 10px;
    }
    .section2 #example_paginate {
        position: absolute;
        bottom: -105px;
    }
    .section2 #example_filter {
        position: absolute;
        top: 80px;
    }
    .section2 #example_filter label {
        color: white;
    }
    .section2 #colorThis td {
        border: none;
    }
    .section2 h3 {
        font-size: 16px;
    }
    .section2 h3 i {
        margin: -1px 10px;
        font-size: 20px;
    }
    .header #takeLeft {
        position: relative;
        left: -48px;
        top: -42px;
    }
    .header #takeLeft h4 {
        position: relative;
        top: 57px;
        left: 34px;
    }

    .section1 .dooo {
        margin: 0 0 15px 0;
    }

    .section1 #littleRight {
        margin: 0 0 0 0;
    }

    .custom-pagination {
        text-align: left;
    }

    .section1 #littleRight1 {
        margin: -12px 26px -4px -1px;
    }
}


/*mobile 2 (sm)*/

@media(min-width: 412px) and (max-width: 732px) {
    .header #takeLeft {
        position: relative;
        left: -104px;
        top: -42px;
    }
}


/*tab 1 (sm)*/

@media(min-width: 768px) and (max-width: 978px) {
    .hamburger {
        display: block;
    }
    .sidebar-hide .sidebar.sidebar-hide-to-small .nano-content > ul > li > ul {
        background-color: white !important;
    }
    .section2 .fw-container {
        width: 100%;
        overflow: scroll;
    }
    .section2 #example_filter {
        position: absolute;
        top: 98px;
        right: 365px;
    }
    .section2 #example_filter label {
        color: white;
    }
    .section2 #colorThis td {
        border: none;
    }
    .sidebar i {
        color: dimgray;
        margin: 5px 0 0 5px;
    }
    .header #takeLeft {
        position: relative;
        top: 20px;
    }
    /* .section1 #littleRight {
        margin: 0 30px 0 -35px !important;
    }
    .section1 #littleLeft {
        margin: 0 -85px 0 -129px;
    }
    .section1 #littleRight1 {
        margin: 0 22px 0 -132px;
    } */
}


/*tab 2 (sm)*/

@media(min-width: 980px) and (max-width: 1199px) {
    .hamburger {
        display: block;
    }
    .sidebar-hide .sidebar.sidebar-hide-to-small .nano-content > ul > li > ul {
        background-color: white !important;
    }
    .section2 .fw-container {
        width: 100%;
        overflow: scroll;
    }
    .section2 #example_filter {
        position: absolute;
        top: 98px;
        right: 365px;
    }
    .section2 #example_filter label {
        color: white;
    }
    .section2 #colorThis td {
        border: none;
    }
    .mat-footer-row,
    .mat-header-row,
    .mat-row,
    td.mat-cell,
    td.mat-footer-cell,
    th.mat-header-cell {
        text-align: center;
        border: 1px solid black;
        width: 4000px;
    }
    /* .section1 #littleRight {
        margin: 0 30px 0 -35px !important; 
    }
    .section1 #littleLeft {
        margin: 0 -85px 0 -159px !important;
    }
    .section1 #littleRight1 {
        margin: 0 22px 0 -132px;
    } */
}

/*ipad query*/
/*portrait*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .section2 .fw-container {
        width: 100%;
        overflow: visible;
    }

    .section1 #littleRight {
        margin: 0 30px 0 71px;
    }
}

/*landscape*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .section2 .fw-container {
        width: 100%;
        overflow: visible;
    }

    .section1 #littleLeft {
        margin: 0 -85px 0 -64px;
    }

    .section1 label {
        font-size: 14px;
    }

}

/*ipad pro query (10.5 inch)*/
/* Portrait*/
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (orientation: portrait) {
    .section1 #littleLeft {
        margin: 0 -85px 0 -105px !important;
    }
}

/* Landscape*/
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (orientation: landscape) {
    .section1 #littleLeft {
        margin: 0 -85px 0 -35px;
    }

    .section1 #littleRight {
        margin: 0 30px 0 159px;
    }

    .section2 .fw-container {
        width: 100%;
        overflow: unset;
    }

    .section1 label {
        font-size: 14px;
    }
}

/*ipad pro query (12.9 inch)*/
/* Portrait*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
    .section1 .dooo input {
        font-size: 11px;
    }

    .section1 #littleLeft {
        margin: 0 -85px 0 -59px !important;
    }
}

/* Landscape*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {
    .section1 .dooo input {
        font-size: 11px;
    }
}


/*ipad query*/


/*portrait*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .section2 .fw-container {
        width: 100%;
        overflow: visible;
    }
    .section1 #littleLeft {
        margin: 0 -85px 0 -115px;
    }
    .section1 #littleRight {
        margin: 0 30px 0 -26px;
    }
    .section1 #littleRight1 {
        margin: 0 18px 0 -114px;
    }
}


/*landscape*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .section2 .fw-container {
        width: 100%;
        overflow: visible;
    }
    .section1 #littleLeft {
        margin: 0 -85px 0 -64px;
    }
    .section1 #littleRight {
        margin: 0 94px 0 61px !important;
    }
    .section1 label {
        font-size: 14px;
    }
}


/*ipad pro query (10.5 inch)*/


/* Portrait*/

@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (orientation: portrait) {
    .section1 #littleLeft {
        margin: 0 -85px 0 -105px !important;
    }
    .section1 #littleRight1 {
        margin: 0 0 0 -127px;
    }
}


/* Landscape*/

@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (orientation: landscape) {
    .section1 #littleLeft {
        margin: 0 -85px 0 -35px;
    }
    .section1 #littleRight {
        margin: 0 30px 0 159px;
    }
    .section2 .fw-container {
        width: 100%;
        overflow: unset;
    }
    .section1 label {
        font-size: 14px;
    }
    .section1 #littleRight {
        margin: 0 77px 0 48px;
    }
}


/*ipad pro query (12.9 inch)*/


/* Portrait*/

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
    .section1 .dooo input {
        font-size: 11px;
    }
    .section1 #littleLeft {
        margin: 0 -85px 0 -59px !important;
    }
    .section1 #littleRight {
        margin: 0 98px 0 27px;
    }
    .section1 #littleRight1 {
        margin: 0 26px 0 -126px;
    }
}


/* Landscape*/

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {
    .section1 .dooo input {
        font-size: 11px;
    }
}