<!--syntax-->
<div class="content-wrap">
  <div class="main">
    <div class="section">
      <div class="container-fluid">
        <div class="row">

          <div class="downloadButton">
            <button type="button" class="btn" (click)="downloadCSV()">Download CSV <i class="fas fa-file-excel"></i>
            </button>
            <button type="button" class="btn">Download PDF <i class="far fa-file-pdf"></i> </button>
          </div>

          <!-- section1 form -->
          <div class="col-sm-12">
            <div class="section1">
              <div class="row">
                <div class="col-lg-2 col-sm-6">
                  <label>From Date</label><br>
                  <div class="dooo">
                    <input type="text" id="datepicker1" placeholder="MM : DD : YYYY" [minDate]="minDate"
                      [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker [(ngModel)]="fromDate"
                      (ngModelChange)="fromChange()">
                    <i class="far fa-calendar-alt"></i>
                  </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                  <label>To Date</label><br>
                  <div class="dooo">
                    <input type="text" id="datepicker2" placeholder="MM : DD : YYYY" [minDate]="fromDate"
                      [maxDate]="toMaxDate" #dp="bsDatepicker" bsDatepicker [(ngModel)]="toDate"
                      (ngModelChange)="getallalertsbydate(fromDate,toDate)"
                      [disabled]="fromDate == undefined ? true : false">
                    <i class="far fa-calendar-alt"></i>
                  </div>
                </div>
                <!--<div class="col-lg-1">
                                  <button class="btn"><i class="fas fa-arrow-right"></i></button>
                              </div>-->
                <div class="col-lg-2 col-sm-4">
                  <input type="radio" id="allAlert" (change)="alertTypes('allAlert', $event)" name="alerts"
                    value="allAlert" checked>
                  <label value="allAlert">All Alert</label>
                </div>
                <div class="col-lg-2 col-sm-4" id="littleLeft">
                  <input type="radio" id="myAlert" (change)="alertTypes('myAlert', $event)" value="myAlert"
                    name="alerts">
                  <label value="myAlert">My Alert</label>
                </div>
                <div class="col-lg-2 col-sm-4" id="littleRight">
                  <input type="radio" id="activeAlert" name="closedAlerts"
                    (change)="alertClosedTypes('activeAlert', $event)" value="activeAlert" checked>
                  <label value="activeAlert">Active Alert</label>
                </div>
                <div class="col-lg-2 col-sm-4" id="littleRight1">
                  <input type="radio" id="closeAlert" name="closedAlerts"
                    (change)="alertClosedTypes('closeAlert', $event)" value="closeAlert">
                  <label value="closeAlert">Close Alert</label>
                </div>
                <div class="col-lg-2 col-sm-4" id="littleLeft">
                  <input type="radio" id="oldAlert" name="closedAlerts" (change)="alertClosedTypes('oldAlert', $event)"
                    value="oldAlert">
                  <label value="oldAlert">Old Alert</label>
                </div>
              </div>
            </div>
          </div>

          <!-- section2 datatable -->
          <div class="col-sm-12">
            <div class="section2">
              <h3>{{tableTitle}}
                <button type="button" class="btn">
                  <i class="fas fa-info-circle"></i> <i class="fas fa-ellipsis-v"></i>
                </button>
              </h3>

              <div class="fw-container">
                <div class="fw-body">

                  <div class="row">
                    <div class="col-sm-3 count-dropdown mb-2">
                      <span>Show</span>
                      <div class="form-group mx-2 mb-0">
                        <select class="form-control" (change)="countChange($event)">
                          <option value="5">5</option>
                          <option value="10">10</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                        </select>
                      </div>
                      <span>entries</span>
                    </div>
                    <div class="col-sm-4 mb-3 ml-auto">
                      <input class="form-control" type="text" placeholder="Search" name="search"
                        [(ngModel)]="searchTerm">
                    </div>
                  </div>

                  <table class="display table-responsive" style="width:100%">
                    <thead>
                      <tr>
                        <th scope="col" (click)="sort('data.Alert_No')" style="width: 155px;">Alert No
                          <span class="fa sort-icon ml-2" *ngIf="key =='data.Alert_No'"
                            [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}">
                          </span>
                        </th>
                        <th scope="col" (click)="sort('data.Item')" style="width: 132px;">Item
                          <span class="fa sort-icon ml-2" *ngIf="key =='data.Item'"
                            [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}">
                          </span>
                        </th>
                        <th scope="col" (click)="sort('data.ALERT_NAME')" style="width: 140px;">Alert Name
                          <span class="fa sort-icon ml-2" *ngIf="key =='data.ALERT_NAME'"
                            [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}">
                          </span>
                        </th>
                        <th scope="col" (click)="sort('data.DATE')" style="width: 151px;">Date & Time
                          <span class="fa sort-icon ml-2" *ngIf="key =='data.DATE'"
                            [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}">
                          </span>
                        </th>
                        <!-- <th scope="col" (click)="sort('data.TIME')">Time <span class="fa sort-icon ml-2"
                            *ngIf="key =='data.TIME'"
                            [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}"></span></th> -->
                        <th scope="col" (click)="sort('data.DEPARTMENT')" style="width: 139px;">Department
                          <span class="fa sort-icon ml-2" *ngIf="key =='data.DEPARTMENT'"
                            [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}">
                          </span>
                        </th>
                        <th scope="col" (click)="sort('data.Assigned_To')" style="width: 136px;">Assigned To
                          <span class="fa sort-icon ml-2" *ngIf="key =='data.Assigned_To'"
                            [ngClass]="{'fa-caret-up':reverse,'fa-caret-down':!reverse}">
                          </span>
                        </th>
                        <th scope="col" style="width: 120px;">Priority</th>
                        <th colspan="5" id="action" style="width: 200px;">Action</th>
                        <th scope="col">SOP</th>
                      </tr>

                      <tr id="colorThis">
                        <th colspan="7" id="adjustWidth0"></th>
                        <th id="adjustWidth1" colspan="1" data-title="Action" title="">A</th>
                        <th id="adjustWidth2" colspan="1" data-title="Diagnose" title="">D</th>
                        <th id="adjustWidth3" colspan="1" data-title="Execute" title="">E</th>
                        <th id="adjustWidth4" colspan="1" data-title="Close" title="">C</th>
                        <th id="adjustWidth5" colspan="1" data-title="Observe" title="">O</th>
                        <th></th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr
                        *ngFor="let ad of alertdata.data | alertFilter: searchTerm | orderBy: key : reverse | paginate: { itemsPerPage: entriesValue, currentPage: p }; let i = index; ">
                        <td data-title="Alert No">{{ad.Alert_No}}</td>
                        <td data-title="Item"> {{ad.Item}} <br>
                          <sub (click)="openModal1()">Show More</sub>
                        </td>
                        <td data-title="Alert Name">{{ad.ALERT_NAME }}<br>
                          <sub (click)="openModal2()">Show More</sub></td>
                        <td data-title="Date">{{ad.DATE}}</td>
                        <!-- <td data-title="Time">{{ad.TIME}}</td> -->
                        <td data-title="Department">{{ad.DEPARTMENT}}</td>
                        <td data-title="Assigned To">{{ad.Assigned_To}}</td>
                        <td data-title="Priority">High</td>
                        <td data-title="Aknowledge"><input type="checkbox" [checked]="ad.acknowledge === 'true'"
                            (change)="checkChange(ad, 'acknowledge', $event)"></td>
                        <td data-title="Diagonise"><input type="checkbox" [checked]="ad.diagnose === 'true'"
                            (change)="checkChange(ad, 'diagnose', $event)"></td>
                        <td data-title="Action"><input type="checkbox" [checked]="ad.action_chek === 'true'"
                            (change)="checkChange(ad, 'action', $event)"></td>
                        <td data-title="Close"><input type="checkbox" [checked]="ad.closed === 'true'"
                            (change)="checkChange(ad, 'closed', $event)"></td>
                        <td data-title="Observe"><input type="checkbox" [checked]="ad.observe === 'true'"
                            (change)="checkChange(ad, 'observe', $event)"></td>
                        <td data-title="SOP" (click)="getAlertByID(ad.adacoId)"><i class="fas fa-info-circle"></i></td>
                      </tr>
                      <tr *ngIf="(alertdata.data | alertFilter: searchTerm).length == 0">
                        <td colspan="13">No Data Available</td>
                      </tr>

                    </tbody>
                  </table>

                  <div class="custom-pagination">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  </div>
                </div>
              </div>

              <!-- First Modal -->
              <div id="myModal1" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                  <span class="close" (click)="closeModal1()">&times;</span>
                  <p>first modal info</p>
                </div>
              </div>

              <!-- First Modal -->
              <div id="myModal2" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                  <span class="close" (click)="closeModal2()">&times;</span>
                  <p>second modal info</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #sopDoc let-modal>
  <div class="modal-body text-center">
    <div *ngIf="emptyDoc">
      <p>No SOP Document available</p>
    </div>
    <div *ngIf="!emptyDoc">
      <object [data]="domSanitize(docData)" type="application/pdf" height="100%" width="100%"></object>
       <!-- <iframe src="data:application/pdf;base64,{{docData}}" height="100%" width="100%"></iframe> -->
  </div>
  </div>
</ng-template>