@charset "UTF-8";
html {
  height: 100%;
}

body {
    margin: 0px;
    min-height: 100%;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: normal;
    color: #333c40;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    height: 100vh;
}
.invalid-feedback.is-invalid{
    display: block !important;
}
#layout-topbar {
    background-color: #1d1d85;
    box-sizing: border-box;
    display: block;
    padding: 0;
    height: 70px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9997;
    /* -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3); */
}

#layout-topbar .menu-button {
    display: none;
    color: #ffffff;
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    line-height: 58px;
    text-align: center;
    transition: background-color .2s;
}

#layout-topbar .menu-button:hover {
    background-color: #4a4f52;
}


#layout-topbar .menu-button i {
    line-height: inherit;
}

#layout-topbar .logo {
    background: white;
    display: inline-block;
    padding-right: 26px;
  
}

#layout-topbar .logo img {
    width: 62%;
    margin-left: 34px;
}

.topbar-menu {
    display: inline-block;
    list-style-type: none;
    float: right;
    margin: 0 60px 0 0;
    padding: 0;
    height: 100%;
}

.topbar-menu > li {
    display: inline-block;
    height: 100%;
}

.topbar-menu > li > a {
    text-decoration: none;
    color: #ffffff;
    transition: background-color .2s;
    min-width: 120px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    line-height: 70px;
    font-size: 16px;
}

.topbar-menu > li > a:hover {
    background-color: #4a4f52;
}

.topbar-menu > li > ul {
    display: none;
}

.topbar-menu > li.topbar-menu-themes {
    position: relative;
}

.topbar-menu > li.topbar-menu-themes > ul {
    position: absolute;
    top: 65px;
    left: -50px;
    width: 250px;
    max-height: 300px;
    background-color: #ffffff;
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    overflow: auto;
    list-style-type: none;
    padding: 15px 0;
    margin: 0;
    border-radius: 3px;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    animation-duration: .5s;
}

.topbar-menu > li.topbar-menu-themes > ul > li.topbar-submenu-header {
    padding: 6px 12px;
    font-weight: bold;
    text-align: left;
    background-image: linear-gradient(to left, #2bc0ec, #1b81d7);
    color: #ffffff;
}

.topbar-menu > li.topbar-menu-themes > ul a {
    text-decoration: none;
    color: #404C51;
    padding: 6px 12px;
    display: block;
    transition: all 0.5s ease;
}

.topbar-menu > li.topbar-menu-themes > ul a:hover {
    background-color: #eeeeee;
}

.topbar-menu > li.topbar-menu-themes > ul a img {
    width: 32px;
    vertical-align: middle;
}

.topbar-menu > li.topbar-menu-themes > ul a .topbar-submenu-icon {
    font-size: 20px;
    width: 20px;
    vertical-align: middle;
    margin-right: 8px;
}

.topbar-menu > li.topbar-menu-themes > ul a .ui-text {
    vertical-align: middle;
    margin-left: 8px;
}

.topbar-menu > li.topbar-menu-themes:hover > ul {
    display: block;
}

.topbar-menu > li.topbar-menu-versions {
    position: relative;
}

.topbar-menu > li.topbar-menu-versions > a{
    min-width: 40px;
}

.topbar-menu > li.topbar-menu-versions:hover > ul {
    display: block;
}

.topbar-menu > li.topbar-menu-versions > ul {
    position: absolute;
    top: 65px;
    width: 40px;
    max-height: 300px;
    background-color: #ffffff;
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    overflow: auto;
    list-style-type: none;
    padding: 15px 0;
    margin: 0;
    border-radius: 3px;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    animation-duration: .5s;
}

.topbar-menu > li.topbar-menu-versions > ul a {
    text-decoration: none;
    color: #404C51;
    padding: 6px 12px;
    display: block;
    transition: all 0.5s ease;
}

.topbar-menu > li.topbar-menu-versions > ul a:hover {
    background-color: #eeeeee;
}

/* Sidebar */
#layout-sidebar {
    position: fixed;
    left: 0;
    top: 70px;
    height: calc(100% - 70px);
    background-color: #1d1d85;
    overflow-x: hidden;
    overflow-y: auto;
    width: 250px;
	-moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

#layout-sidebar .layout-menu > a {
    width: 100%;
    height: 50px;
    display: block;
    padding: 15px 0px 0px 0px;
    cursor: pointer;
    border-top: solid 1px #e3e9ea;
    box-sizing: border-box;
    user-select: none;
}

#layout-sidebar .layout-menu >  div.layout-menu-search {
    padding: 1.5em;
    overflow: visible;
    position: relative;
}

#layout-sidebar .layout-menu-search i {
    position: absolute;
    left: 1.6em;
    top: 1.65em;
}

#layout-sidebar .layout-menu-search input {
    text-indent: 1.7em;
}

#layout-sidebar .layout-menu > a.active-menuitem {
    background-color: #1d1d85 !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#layout-sidebar .layout-menu > a.active-menuitem > span {
    color: white;
}

#layout-sidebar .layout-menu > a.active-menuitem img.layout-menu-icon-active {
    display: inline;
}

#layout-sidebar .layout-menu > a.active-menuitem img.layout-menu-icon-inactive {
    display: none;
}

#layout-sidebar .layout-menu > a:hover {
    background-color: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#layout-sidebar .layout-menu > a:focus {
    z-index: 1;
    outline: 0 none;
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    transition: box-shadow .3s;
    transition: box-shadow .3s,-webkit-box-shadow .3s;
    -webkit-box-shadow: inset 0 0 0 0.2em #1b82d7;
    box-shadow: inset 0 0 0 0.2em #1b82d7;
}

#layout-sidebar .layout-menu > a img {
    width: 20px;
    height: auto;
    float: left;
}

#layout-sidebar .layout-menu > a img.layout-menu-icon-active {
    display: none;
}

#layout-sidebar .layout-menu > a img.layout-menu-icon-inactive {
    display: inline;
}

#layout-sidebar .layout-menu > a span {
    color: white;
    font-size: 16px;
    margin: -2px 0px 0px 30px;
    display: block;
}

#layout-sidebar .layout-menu > div {
    padding: 0px 22px;
    overflow: hidden;
    background-color: #1d1d85;
}

#layout-sidebar .layout-menu > div a {
    width: 50%;
    /* float: left; */
    padding: 6px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 14px;
    color: white;
}


#layout-sidebar .layout-menu > div a:focus {
    z-index: 1;
    outline: 0 none;
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    transition: box-shadow .3s;
    transition: box-shadow .3s,-webkit-box-shadow .3s;
    /* -webkit-box-shadow: inset 0 0 0 0.2em #1b82d7; */
    background: white;
    color: #1d1d85;
}
#layout-sidebar .layout-menu > div a:active{
    background: white;
    color: #1d1d85;
}


.menuitem-badge {
    background: #00b09b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    padding: 2px 4px;
    vertical-align: middle;
    border-radius: 3px;
    color: #ffffff;
    font-weight: bold;
    font-size: 11px;
    position: relative;
    top: -1px;
}

.theme-badge {
    padding: 2px 4px;
    vertical-align: middle;
    border-radius: 3px;
    color: #ffffff;
    font-weight: bold;
    font-size: 11px;
    position: relative;
    top: -1px;
}

.theme-badge.material {
    background: #00b09b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #202124, #404147);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #202124, #404147); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.theme-badge.bootstrap {
    background: #563D7C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #563D7C, #966BD8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #563D7C, #966BD8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

#layout-sidebar .layout-menu > div a:hover {
    background-color: none;
}

#layout-sidebar .layout-menu {
    overflow-y: auto;
    width: 300px;
}

#layout-content {
    margin-left: 250px;
    background-color: #ffffff;
    padding: 77px 20px 15px 20px;
}

.layout-mask {
    z-index: 9998;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 100px;
    left: 0;
    display: none;
    background-color: #4c5254;
    opacity: .7;
}

.content-section {
    display: block;
    padding: 30px;
    overflow: hidden;
    background-color: #f5f7f8;
}

.content-section.introduction {
    background-image: linear-gradient(to left, #2bc0ec, #1b81d7);
    color: #ffffff;
}

.content-section.introduction a {
    color: #ffffff;
    font-weight: 700;
}

.content-section:first-of-type > div > span {
    line-height: 1.5em;
}

.content-section:first-of-type > div > span:last-child {
    font-size: 16px;
}

.content-section h2 {
    margin-top: 0;
}

.feature-title {
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
}

.layout-footer {
    color: #000000;
    font-weight: bold;
}

.layout-footer .footer-links {
    float: right;
    font-size: 24px;
}

.layout-footer .footer-links a {
    color: #000000;
    margin-left: 16px;
}

/* Demos */
.implementation,
.implementation-charts {
    background-color: #FFFFFF;
    overflow: visible;
}
.implementation > h3 {
    margin-top: 30px;
    color: #5C666A;
    font-weight: 700;
    font-size: 16px;
}
.implementation h3.first {
    margin-top: 0px !important;
}
.implementation h4 {
    color: #5C666A;
}

.content-submenu {
    background-image: linear-gradient(to left, #20272a, #20272a);
    padding: 15px 30px;
    border-bottom: 1px solid #1b81d7;
}
.content-submenu ul {
    margin: 0;
    padding: 0;
    width: 100%;
}
.content-submenu ul li {
    list-style: none;
    width: 20%;
    display: inline-block;
    margin-top: 5px;
}
.content-submenu ul li a {
    color: #cac6c6;
    display: block;
    width: 90%;
    border: 1px solid transparent;
    transition: border-color .1s;
    padding: 6px 12px;
    border-radius: 3px;
}
.content-submenu ul li a:hover {
    border: 1px solid #ffffff;
    color: #ffffff;
}

/* Documentation Section */
.documentation .ui-tabview-panel {
    color: #404C51 !important;
}
.documentation .ui-tabview .ui-tabview-panels {
    border: 0 none;
}

.documentation h3 {
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: normal;
}
.documentation h4 {
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: normal;
}
.documentation p {
    line-height: 24px;
    margin: 10px 0 !important;
}
.documentation .doc-tablewrapper {
    margin: 10px 0;
}
.documentation a {
    color: #0273D4;
}
.documentation .btn-viewsource {
    background-color: #444444;
    padding: .5em;
    border-radius: 2px;
    color: #ffffff;
    font-weight: bold;
    margin: 1em 0;
    display: inline-block;
    transition: background-color .2s;
}
.documentation .btn-viewsource i {
    margin-right: .25em;
}

.documentation .btn-viewsource:hover {
    background-color: #595959;
}

/* Tabs Source */
.documentation .ui-tabview {
    background: none;
    border: 0 none;
    color: #5C666A;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important;
}
.documentation .ui-tabview .ui-tabview-nav {
    background: #1976D2 !important;;
    margin-bottom: -1px;
    padding: 3px 3px 0px 3px !important;
    border-top-right-radius: 4px !important;
    border-top-left-radius: 4px !important;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.documentation .ui-tabview .ui-tabview-nav li,
.documentation .ui-tabview .ui-tabview-nav li.ui-state-hover {
    border: 0px none !important;
    background: #3F94E9 !important;;
    border-color: #3F94E9 !important;;
    box-shadow: none !important;
    border-top-right-radius: 4px !important;
    border-top-left-radius: 4px !important;
}
.documentation .ui-tabview .ui-tabview-nav li a {
    padding: .5em 1em !important;
}
.documentation .ui-tabview .ui-tabview-nav li.tab-doc {
    margin-right: 0;
}
.documentation .ui-tabview .ui-tabview-nav li.ui-state-default a {
    color: #fff !important;
    font-weight: normal !important;
    text-shadow: none ;
}
.documentation .ui-tabview .ui-tabview-nav li.ui-state-active a {
    color: #5C666A !important;
    font-weight: normal !important;
}
.documentation .ui-tabview .ui-tabview-nav li.ui-state-hover {
    box-shadow: none !important;;
}
.documentation .ui-tabview .ui-tabview-nav li.ui-tabview-selected {
    background: #F5F6F7 !important;
}
.documentation .ui-tabview .ui-tabview-panels {
    border-top: 1px solid #F5F6F7 !important;;
    color: #5C666A !important;
    background: #F5F6F7;
}
.documentation .ui-tabview.ui-tabview-top > .ui-tabview-nav li {
    top: 0px !important;
}

/* Docs Table */
.doc-table {
    border-collapse: collapse;
    width: 100%;
}
.doc-table th {
    background-color: #dae8ef;
    color: #404C51;
    border: solid 1px #C1D5DF;
    padding: 8px 14px;
    text-align: left;
}
.doc-table tbody td {
    color: #404C51;
    padding: 8px 14px;
    border: 1px solid #E5EBF0;
    opacity: .90;
}
.doc-table tbody tr:nth-child(even) {
    background-color: #FBFCFD;
}
.doc-table tbody tr:nth-child(odd) {
    background-color: #F3F6F9;
}

@media screen and (max-width: 64em) {
    .layout-mask {
        display: block;
    }

    #layout-topbar {
        text-align: center;
    }

    #layout-topbar .menu-button {
        display: inline-block;
    }

    #layout-topbar .logo {
        margin: 0px 0 0px 44px;
    }
    #layout-topbar .logo img{
        margin-left: 0px;
    }
    #layout-topbar .logo{
        padding-right: 0px;
    }
    #layout-topbar .logo img{
        width: 74%;
    }

    .topbar-menu {
       
        float: right;
        
        height: 40px;
        margin: 11px;
        text-align: center;
    }

    .topbar-menu > li > a {
        padding-bottom: 0;
        line-height: 40px;
        min-width: 100px;
    }

    .topbar-menu > li.topbar-menu-themes > ul {
        top: 40px;
    }

    .topbar-menu > li.topbar-menu-versions > ul {
        top: 40px;
    }

    #layout-sidebar {
        top: 100px;
        left: -300px;
        transition: left .2s;
        z-index: 9999;
    }

    #layout-sidebar.active {
        left: 0;
    }

    #layout-content {
        margin-left: 0;
        padding-top: 100px;
    }

    .topbar-menu > li.topbar-menu-themes > ul {
        text-align: left;
    }

    .home .introduction > div {
        width: 100%;
    }

    .home .features > div {
        width: 100%;
    }

    .home .whouses > div {
        width: 100%;
    }

    .home .templates > div {
        width: 100%;
    }

    .home .prosupport > div {
        width: 100%;
        text-align: center;
    }

    .home .book > div {
        width: 100%;
    }

    .home .book .ui-g-12:last-child,
    .home .book .ui-g-12:first-child {
        text-align: center !important;
    }

    .home .testimonials > div {
        width: 100%;
    }

    .support .support-image {
        text-align: center;
    }

    .support .support-image .ui-md-6:last-child {
        text-align: center;
        padding-top: 2em;
    }

    .content-submenu ul li {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .doc-table tbody td {
        word-break: break-word;
    }
}

/* Code Styles */
pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-family: Courier, 'New Courier', monospace;
    font-size: 14px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 1em;
    background-color: #CFD8DC;
    color: #404C51;
    margin: 10px 0px;
}
.ui-tabview-left > .ui-tabview-nav {
    height: 150px;
}
.col-button {
    width: 10%;
    text-align: center;
}
.col-icon {
    width: 38px;
    text-align: center;
}

.whouses {
    background: #ffffff;
}

.whouses img {
    width: 100%;
}

.ui-growl {
    top: 100px;
}

a {
    text-decoration: none;
    color: #1b82d7;
}

/* Animation */
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
}

@keyframes pulse {
    0% {
        background-color: rgba(165, 165, 165, 0.1)
    }
    50% {
        background-color: rgba(165, 165, 165, 0.3)
    }
    100% {
        background-color: rgba(165, 165, 165, 0.1)
    }
}

/* Introduction */
.home p {
    line-height: 1.5;
    font-size: 16px;
}

.home h3 {
    font-size: 20px;
}

.home-button {
    font-weight: bold;
    background-color: #FBD17B;
    color: #B27800;
    padding: 8px 14px;
    border-radius: 3px;
    transition: background-color .2s;
    display: inline-block;
    min-width: 120px;
    text-align: center;
}

.home-button:hover {
    background-color: #f9c55a;
    color: #B27800;
}

.home .introduction {
    background-color: #1976d2;
    background: url('../images/home/introduction.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    padding: 80px 30px 80px 50px;
}

.home .introduction > div {
    padding: 100px 100px 0 100px;
    height: 200px;
}

.home .introduction img {
    width: 480px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.home .introduction h1 {
    font-weight: normal;
    margin-bottom: 5px;
}

.home .introduction h2 {
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 0;
}

/* Features */
.home .features {
    background-color: #f5f7f8;
    text-align: center;
    padding: 30px;
}

.home .features h3 {
    margin-bottom: 10px;
}

.home .features p {
    margin-bottom: 30px;
}

.home .features p.features-tagline {
    margin-bottom: 0;
    margin-top: -5px;
}

.home .features p.features-description {
    text-align: left;
}

.home .features .feature-name {
    display: block;
    font-size: 18px;
    margin-top: 4px;
}

.home .features .ui-g p {
    color: #535d62;
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.home .features .ui-g > div {
    padding: .5em 2em;
}

.home .features img {
    width: 57px;
}

/* Who Uses */
.home .whouses {
    background-color: #20272a;
    color: #ffffff;
    text-align: center;
    padding: 30px;
}

.home .whouses h3 {
    margin-bottom: 10px;
}

.home .whouses p {
    margin-bottom: 30px;
}

.home .whouses .ui-g > div {
    padding: 1em 2em;
}

.home .whouses img {
    height: 42px;
}

.home .testimonials {
    border-top: 1px solid #4c5254;
    padding-top: 20px;
    margin-top: 30px;
}

.home .testimonials .ui-g > div {
    margin-left: -1px;
    margin-top: -1px;
    border: 1px solid #333D41;
}

.home .testimonials .ui-g > div:nth-child(2n) {
    background-color: #283134;
}

.home .testimonials p {
    font-size: 14px;
    line-height: 1.5;
    font-style: italic;
}

.home .testimonials h3 {
    margin-bottom: 26px;
}

.home .testimonials img {
    padding-top: 10px;
}

.home .testimonials hr {
  width: 40px;
  color: #4c5254;
}

.home .testimonials i {
    font-style: normal;
}

/* Book */
.home .book {
    background-color: #1976d2;
    padding: 30px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
}

.home .book .ui-g-12:last-child {
    text-align: center;
}

.home .book .ui-g-12:first-child {
    text-align: left;
}

.home .book img {
    width: 200px;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}

/* Templates */
.templates {
    background-color: #f5f7f8;
    text-align: center;
    padding: 30px;
}

.templates h3 {
    margin-bottom: 10px;
}

.templates img {
    width: 100%;
}

.templates .ui-g > div {
    padding: 1em;
}

.templates .ui-g > div img {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    transition: all .5s;
}

.templates .ui-g > div a:hover img {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
    -ms-transform: scale(1.2);
    transform: scale(1.02);
}

.home .why-templates {
    background-color: #20272a;
    text-align: center;
    color: #ffffff;
    padding: 30px;
}

.home .why-templates h3 {
    margin: 10px 0;
    display: block;
}

.home .why-templates hr {
    border: 1px dotted solid #262626;
    margin-bottom: 20px;
}

.home .why-templates img {
    width: 100%;
    margin-bottom: 30px;
}

.home .why-templates .ui-g > div {
    padding: .5em 1em;
}

.home .why-templates ul {
    padding: 0;
    margin: 0;
    text-align: left;
    list-style-type: none;
}

.home .why-templates  ul > li {
    padding-bottom: 10px;
    text-align: left;
    text-align: center;
}

/* Designer */
.home .primeng-designer {
    background-color: #ffffff;
    padding: 30px;
}

.home .primeng-designer h3 {
    margin: 10px 0 20px 0;
    display: block;
    text-align: center;
}

.home .primeng-designer img {
    width: 100%;
    margin-bottom: 30px;
}

/* PRO */
.home .prosupport,
.support-image {
    background-color: rgba(79,41,64,.8);
    padding: 30px;
    color: #ffffff;
}

.support-image .ui-md-6:last-child {
    text-align: right;
}

.support li {
    line-height: 1.5;
}

.home .prosupport p {
    font-size: 16px;
    line-height: 1.5;
}

.home .prosupport .ui-md-6:last-child {
    text-align: center;
}

.home .prosupport .home-button {
    margin-top: 10px;
}

.support p {
    line-height: 1.5;
}

/*NOTIFICATION*/
.notification-topbar {
  width: 100%;
  height: 150px;
  cursor: pointer;
  position: relative;
  display: block;
  background-image: url("../images/prime-showcases-notification-topbar-bg.png");
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  animation-duration: 1.5s;
  webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.notification-topbar .notification-topbar-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: absolute;
  float: left;
}

.notification-topbar .notification-topbar-close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: white;
}

.notification-topbar .notification-topbar-image-mobile {
  width: 100%;
  top: 45px;
  display: none;
  position: absolute;
  float: left;
}

@media (max-width: 450px) {

  .notification-topbar .notification-topbar-image {
    display: none;
  }

  .notification-topbar .notification-topbar-image-mobile {
    display: block;
  }
}
