/* You can add global styles to this file, and also import other style files */
@import 'assets/showcase/css/code.css';
@import 'assets/showcase/css/site.css';
div.ui-helper-hidden-accessible{
    display: none !important;
    visibility: hidden !important;
    }
   
.whitebg{
    background: #e0e0e0;
    padding: 16px;
}
#layout-content{
    background: white;
}
.pageTitle{
    color: #1d1d85;
    font-weight: bold !important;
}
.tblheading{
    background: #1d1d85;
    color: white;
    text-align: center;
}
tbody {
    text-align: center;
}
table.dataTable.no-footer{
    border: 1px solid #1d1d85 !important;
}

.table-bordered td, .table-bordered th {
    border: none !important;
}
tbody{
    color: #4c3c3c;
    font-size: 15px;
}
/* table#DataTables_Table_0 {
    text-align: center !important ;
} */
.btn.addbutton{
    background: #f5901f;
    float: right;
    color: white;
    font-weight: bold;
    border-radius: 8px;
}
.btnarea{
    padding-top: 31px;
}
table.dataTable{
    border-collapse: collapse !important;
}

/*----------------- data table -------------------*/
#no-more-tables .tr-table{
	background-color: #7AE582;
	color: #fff;
	padding-left: 10px;
}


/* ajay css */

.pdz {
	padding: 0px;
}
.card-header {
    background: #1d1d85;
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    border: 0px;
}
.bs-timepicker-field {
    width: 39px !important;
    padding: 0px;
}
.btn.focus, .btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0);
}
.cshadow {
		box-shadow: inset #e0dadb 0px 0px 12px 12px;
}
.subheader{
    text-align: center !important;
    border-bottom: 1px solid gray !important;
    padding: 0px 0px 10px;
}
.pTop{
    top:10%;
}

.whitebground {
    padding: 20px 0px;
    box-shadow: 0px 5px 5px -5px #737070;
}

/*-------- modal-pop-up --------*/

.crider {
    max-width: 100%;
    margin: 3.75rem auto;
    width: 70%;
}
.modal-header.popuphead {
    background-color: #f5901f;
    padding: .5rem 1rem;
}
.popuphead h4.modal-title.popuptitle {
    color: #fff;
    font-weight: 600;
}
.popuphead button.close.pull-right {
    color: #fff;
    opacity: 1;
}
.crider .modal-footer {
    display: block;
}
.pop-btn .btn.btn-primary {
    margin-right: 15px;
    width: 100%;
    border-radius: 10px;
}
.pop-btn .btn.btn-primary:hover {
    background: #f5901f
}
.pop-btn .btn.btn-primary:focus {
    box-shadow: none;
}
.modal-body {
    padding: 1rem 0px;
}
.modal-header .close:focus{
    outline: none;
}
.bor-bt {
    border-bottom: 1px solid gray !important;
}
.fixedwidth {
    background: #f5901f;
    border-color: #f5901f;
    width: 100%;
}
.awesome {
    color: #1d1d85;
    margin-right: 5px;
    font-size: 16px !important;
    font-weight: 900 important;
}
.extrawidth {
    flex: 0 0 8.333333%;
    max-width: 12.333333% !important;
}

/*------- end ---------*/


/* ajay css end */

.theme-green .bs-datepicker-head {
    background-color: #f5901f !important;
}
.theme-green .bs-datepicker-body table td.week span {
    color: #f5901f !important;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    background-color: #f5901f;
    border-color: #f5901f;
}
.btn-primary:hover {
    color: #fff;
    background-color: #f5901f;
    border-color: #f5901f;
}
table.dataTable tbody th, table.dataTable tbody td {
   
    border-right: 1px solid gray !important;
}

.role-permission {
    background: none !important;
    border-color: #1d1d85 !important;
    color: #1d1d85 !important;
    font-weight: 600;
    cursor: pointer;
}
.role-permission:focus {
    box-shadow: 0 0 0 0rem rgba(38, 143, 255, 0);
}

.role {
    max-width: 100%;
    margin: 5rem auto;
    width: 50%;
}

.category-header {
    background: #f5901f;
}
.pdt {
    padding: 10px 0px;
}
.cateogory-title {
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    border: 0px;
    padding: 18px 40px 17px;
    margin: 0px;
}
.cat-padding {
    text-align: center;
    padding: 65px 0px;
    border-radius: 10px;
    background: #1d1d85;
    color: #ffdb15;
    font-weight: 500;
    box-shadow: inset 0 0 13px #000000;
}
.box-shadow {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.ui-treetable-tbody{
    text-align: left !important;
    }
.ui-treetable-table{
    width: 100%;
    height: 500px;
    overflow: scroll;
    display: block;
    overflow-x: hidden;
}    
.body .ui-treetable .ui-treetable-caption, body .ui-treetable .ui-treetable-summary{
    border: none !important; 
     padding: 0px !important;
}
body .ui-treetable .ui-treetable-thead > tr > th {
    padding: 0.571em 0.857em;
    border: 1px solid #c8c8c8;
    font-weight: 700;
    color: white;
    background-color: #1d1d85;
}
body .ui-radiobutton .ui-radiobutton-box.ui-state-active {
    border-color: #f5901f !important;
    background-color: #f5901f !important;
    
}
body .ui-chkbox .ui-chkbox-box.ui-state-active {
    border-color: #f5901f !important;
    background-color: #f5901f !important;
    
}
.receivingbody div div.dt-buttons {
    position: absolute;
    /* left: 180px; */
    /* margin: 20px 0px; */
}

/* pagination */
.ngx-pagination .current {
	background: #7c70d2 !important;
	cursor: pointer;
	margin: 20px 0 0 0;
	border-radius: 25px;
}
.ngx-pagination a:hover, .ngx-pagination button:hover {
    background: #e6e6e6;
    cursor: pointer;
    border-radius: 25px;
}

/*------ end -------*/

/*----- media-query ---------*/

    @media only screen and (max-width: 1366px) {
        .pdb {
            padding-bottom: 16px;
        }
    }
    @media only screen and (max-width: 1024px) {
        .pdb {
            padding-bottom: 0px;
        }
    }
    @media only screen and (max-width: 767px){
        tr.even {
            margin-top: 10px
         }
        .crider {
            max-width: 100%;
            margin: 4.75rem auto;
            width: 100% !important;
            padding: 10px;
        }
        .role {
            width: 90%;
        }
        .cat-padding {
            padding: 40px 0px;
            margin-bottom: 15px;
        }
        .cateogory-title {
            font-size: 16px;
            padding: 18px 14px 17px;
        }
    }
    @media (min-width: 576px){
        .crider{
            /* width: 100%; */
            padding: 15px;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px){
        .crider{
            width: 100%;
         }
         .role {
            width: 90%;
        }
    }
    @media screen and (max-width: 767px) {
    
   
        #no-more-tables table, 
        #no-more-tables thead, 
        #no-more-tables tbody, 
        #no-more-tables th, 
        #no-more-tables td, 
        #no-more-tables tr { 
            display: block; 
        }
       
        
        #no-more-tables thead tr { 
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
     
        /* #no-more-tables tr { border: 1px solid #ccc; } */
        /* #no-more-tables td {
            text-align: right;
            font-size: 12px;
        } */
     
        #no-more-tables td { 
        
            border: none;
            border-bottom: 1px solid #eee; 
            position: relative;
            padding-left: 50%; 
            white-space: normal;
            text-align:right;
            font-size: 12px;
        }
     
        #no-more-tables td:before { 
        
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%; 
            padding-right: 10px; 
            white-space: nowrap;
            text-align:left;
            font-weight: bold;
        }
        .receivingbody div.dt-buttons {
            /* font-size: 10px; */
            position: initial !important;
            margin: 0px 0 10px !important;
            left: 0;
        }
        .whitebg{
            padding: 0;
        }
        
     
        /*
        Label the data
        */
        #no-more-tables td:before { content: attr(data-title); }
    }
/*------- end ----------*/
@media screen and (max-width: 64em){
    .btnarea {
        padding-top: 0;
        padding-bottom: 3%;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
